[2015-09-05 01:43] jbenet opened #1 "moving to py-ipfs-api"
as discussed, would be great to have this in the ipfs/ org so people find it and all collab on one.

let's:
- [x] move it over (can you transfer it to ipfs/ user/org?)
- [x] add you as admin so you can add whoever else you want.

[2015-09-05 02:43] #1 closed

[2015-09-09 18:07] amstocker opened #2 "File Streaming"
I haven't been able to get file streaming for a recursive add working yet (right now I do multiple requests and manually set up the links).  I'm pretty sure requests itself can't render multi-part/mixed bodies, which is how the IPFS http api expects it; https://github.com/ipfs/go-ipfs/blob/master/docs/implement-api-bindings.md#note-on-multipart--inspecting-requests, so we might have to use urllib3

[2015-09-09 18:11] amstocker commented on #2
Here is a good reference: https://github.com/djc/couchdb-python/blob/master/couchdb/multipart.py#L120

[2015-09-09 18:33] BrendanBenshoof commented on #2
I avoided this problem a few months ago when I took a stab at this project becuase requests could not handle it trivially (I am hoping I will be doing useful PRs on this repo in a few days).

It might be worth forking + PRing requests with the feature rather than building just for this project.

https://github.com/kennethreitz/requests/issues/935

[2015-09-09 19:28] amstocker commented on #2
Yeah we could definitely do that.  Looks like the multi-part encoding is done [here](https://github.com/kennethreitz/requests/blob/master/requests/models.py#L156) and [here](https://github.com/kennethreitz/requests/blob/master/requests/packages/urllib3/filepost.py#L58).

[2015-09-10 02:48] jbenet commented on #2
Multipart is not super hard if you end up having to implement it. it sucks as a format.

(aside: I actually wanted to add support for other input formats:

- tar stream
- length-prefixed multipart-like thing

but we haven't yet. so i think multipart is still the best bet.)

[2015-09-10 09:00] amstocker commented on #2
I got a multipart writer working today (see code [here](https://github.com/ipfs/python-ipfs-api/blob/master/ipfsApi/filestream.py)).  It also turns out that you can pass a generator to the [data] keyword arg in the requests api and it will read it as chunked input, so I would like to make a real multipart file streamer that just returns a generator that can be passes to requests.

[2015-09-10 13:51] BrendanBenshoof opened #3 "Status"
I'm able to schedule time to work on this project now, and I have a goal list that is mostly accomplished by @amstocker. (context: https://github.com/BrendanBenshoof/ipfs_scratch/issues/1)

The big things that may be handled well, but I need to figure out and insure are:

- Error Handling (do we provide useful Exception (codes or types) both when requests fails and when ipfs returns an error? How

[2015-09-10 14:49] larsks opened #4 "name_resolve throws an exception"
Trying to use the `name_resolve` method:

Results in the following error:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    TypeError: request() takes exactly 2 arguments (4 given)

[2015-09-10 14:52] larsks opened #5 "No pydoc documentation"
The methods on an API client object have no documentation:

This yields documentation on the `partial`  class, which isn't terribly helpful.  It is also impossible to ask for documentation on these methods using `pydoc`:

    $ pydoc ipfsApi.Client.ls
    no Python documentation found for 'ipfsApi.Client.ls'

This all seems very developer-unfriendly.

[2015-09-10 15:22] BrendanBenshoof commented on #5
The way @amstocker  is building the commands is elegant, but make it hard to insert the pydoc documentation.

If we keep this style, we need to essentially add the documentation in the definitions at client.py and ensure it is carried through to the partial function (we can then over-write the pydoc for partial with our desired pydoc)

I'm not sure I like this solution.

[2015-09-10 15:38] BrendanBenshoof commented on #5
I'm starting a re-write of client.py so we can make both of these things work.

[2015-09-10 15:57] #4 closed

[2015-09-10 16:05] amstocker commented on #3
Thanks for your help!  As it turns out I need to study for the math GRE in the next few weeks so I'll only have some short bursts of time to work on this going forward.

- Error-handling should be straight-forward.  It seems that most user errors are returned as json so we could check for a "Message" and "Code" field.  For example if you use cat on an invalid multihash it returns:

.. code-block

[2015-09-10 17:07] amstocker commented on #5
I like your idea for the rewrite of client.py and I think it makes a lot of sense.  However at this point we should get rid of the prepare method altogether and just do e.g. return self._add.request(client, path, **kwargs)

[2015-09-10 17:21] larsks opened #7 "ipfsApi.Client should use defaults when given None as a value"
When `host`, `port`, or `base` is None, `ipfsAPi.client.Client` should use the default value rather than trying to work with None.  This makes the module easier to use; consider, for example, if I have a Python client that includes:

    import argparse

    def parse_args():
        p = argparse.ArgumentParser()
        p.add_argument('--host')
        p.add_argument('--port')
        p.add_argum

[2015-09-10 17:27] #7 closed

[2015-09-11 22:00] moreati commented on #3
I'm taking a stab at Python 3 support now

[2015-09-11 22:00] moreati opened #9 "Python 3 support"

[2015-09-12 01:42] amstocker commented on #3
Thanks moreati!

[2015-09-12 03:15] larsks opened #10 "ipfsApi in practice"
This isn't really an issue.  I just wanted to mention that I've used the `ipfsApi` module to implement a simple gitremote-helper that permits pushing git repositories to/clonging git repositories from ipfs:

- https://github.com/larsks/git-remote-ipfs

It's mostly a proof-of-concept at this point, but I thought folks might find it interesting to see the ipfs api in use in actual code.

[2015-09-12 13:20] larsks opened #11 "What is __client__ for in ipfsApi/client.py?"
Why does `client.py` do this:

    class Client(object):

        __client__ = http.HTTPClient

And then:

    self._client = self.__client__(host, port, base, default_enc)

That's a lot of underscores, and `_client` and `__client__` are
perhaps too similar.  Why not simply:

    self._client = http.HTTPClient(host, port, base, default_enc)

? I'm not clear what the extra level of indirection is g

[2015-09-12 13:33] larsks opened #12 "Commands override explicit arguments with defaults"
In `ipfsApi/commands.py`, the code does this:

    def prepare(self, client, **kwargs):
        kwargs.update(self.defaults)
        return functools.partial(self.request, client, **kwargs)

This means that any keyword arguments passed in `kwargs` will be *replaced* by values set in `self.defaults`.  This is unexpected behavior for something called a "default".

[2015-09-12 14:36] larsks opened #13 "Commands should raise exceptions on error"
If I call something like:

    value = api.cat('invalidhash')

I should not get back the string `{u'Message': u'invalid ipfs ref path', u'Code': 0}`.  I should get an exception.  Since we're using the `requests` library, a simple first step may be calling:

    response.raise_for_status()

...assuming that the HTTP API is returning useful status code.

[2015-09-12 18:19] amstocker commented on #11
My intention was that at some point there could be an asynchronous HTTPClient, then in order to make a new ipfs api client you could just do:

.. code-block:: python

    class AsyncClient(Client):
        __client__ = AsyncHTTPClient

[2015-09-12 18:24] #13 closed

[2015-09-12 18:31] #12 closed

[2015-09-12 19:27] moreati commented on #9
PR #14 was merged in 5a36a39

[2015-09-12 19:27] #9 closed

[2015-09-12 21:20] larsks commented on #11
Makes sense.  Maybe it's just the naming of things that bothers me.  How about:

    class Client(object):
        clientfactory = http.HTTPClient

And then:

    def __init__(self, ...):
        self.client = self.clientfactory(host, port, base, default_enc)

[2015-09-12 21:23] larsks commented on #11
^^^ like that, maybe.

[2015-09-12 21:26] amstocker commented on #11
thanks, that does make a lot more sense

[2015-09-12 21:26] #11 closed

[2015-09-13 15:17] BrendanBenshoof commented on #10
+1 awesome!
I'm hoping this lets us see a bit of proliferation in IPFS based applications. Python's selling point is RAD.

[2015-09-14 08:59] ThomasWaldmann opened #22 "get rid of CamelCase key names?"
Quite some key names in the data structures returned by the API are either camelcase or (if only one word) starting with an uppercase letter.

PEP8 mandates this_kind_of_names for function/method parameter names and there is some correspondance between them and dicts: if you use stuff like `**kwargs`, kwargs is a dict that has the parameter names as keys. If you explode a dict, key names from the

[2015-09-14 09:51] amstocker commented on #22
The reason they are in camelcase is because the responses you're getting are directly from the ipfs daemon (which is written in Go, hence the camelcase).

[2015-09-14 14:43] ThomasWaldmann commented on #22
Ah, ok.

[2015-09-14 14:43] #22 closed

[2015-09-14 19:02] amstocker commented on #22
Not that you're wrong, it would be nice, but I think it would probably be a pain to convert all the camelcase responses from the daemon to snake_case.  Eventually I would like to abstract over all the responses anyways.

[2015-09-15 20:55] amstocker opened #24 "default kwargs from Client not passed to request"
@BrendanBenshoof I just realized that with #23 the default kwargs from Client are no longer passed into request calls.  I have an idea of how to fix this cleanly that I'll work on when i get home later tonight.

[2015-09-17 03:20] #24 closed

[2015-09-20 22:31] amstocker opened #26 "checklist"
Here are some things I'd like to work on over the next couple weeks:

- documentation
    - [ ] write doc strings for all api methods
    - [ ] make a readthedocs.org page
- file streaming
    - [x] chunk large files and multiple files instead of adding them all to the same buffer
    - [x] use file streaming for all add operations, not just recursive add
    - [x] support `ipfs get`, i.e. streami

[2015-09-20 22:49] BrendanBenshoof commented on #3
Superseded by #26

[2015-09-20 22:49] #3 closed

[2015-09-20 22:54] BrendanBenshoof commented on #26
I'm concerned with trying to integrate any of the async libraries.
The current state of Async in python is kinda fractured and I think the best thing we can do is make it as easy as possible to integrate into any such solution as possible.

Could you expand on "tools for mapping data to commands"?

[2015-09-20 23:04] amstocker commented on #26
Yeah thats true, for 2.x there is gevent and tornado, then builtin async in 3.x, etc.  You're right we should just make it easy to implement.  By mapping data to commands I meant something like:

[code]

[2015-09-21 14:11] moreati commented on #26
I'm working on the doc strings, pull request in the next few days

[2015-09-21 19:41] amstocker commented on #26
@moreati awesome!  looking forward to it

[2015-09-28 21:53] nmushegian opened #28 "get directory from hash"
Is there a simple inverse operation for `hash = ipfs.add(directory_path, recrusive=True)[-1]["Hash"]`?

[2015-09-28 22:34] amstocker commented on #28
Do you mean just getting an entire directory and saving it in to disk?  We currently don't support `ipfs get` but we definitely should soon (thanks for bringing this up!).  The result of `hash = ipfs.add(directory_path, recrusive=True)` is actually a list of all the individual files added to ipfs and their respective hashes, so the snippet you posted would result in an error.  In the mean time you

[2015-09-29 01:45] nmushegian commented on #28
Sorry, I meant `hash = ipfs.add(directory_path, recrusive=True)[-1]["Hash"]`; the hash the of the root directory.

[2015-09-29 01:46] nmushegian commented on #28
Looking closer, it seems ipfs is similar to git in that directories are not objects. So there's no file layout metadata being added when I do `ipfs add -r ...` ?

[2015-09-29 16:07] amstocker commented on #28
`ipfs add -r` will build the directory structure such that each directory has a hash, so the overall structure is certainly maintained.  If you took the result of `hash = ipfs.add(directory_path, recrusive=True)[-1]["Hash"]` and called `ipfs.ls(hash)` it would give you a list of all the files and subdirectories you in the folder you added and their respective hashes.  However, note that things lik

[2015-10-08 05:43] #2 closed

[2015-10-08 05:44] amstocker commented on #28
fixed by #30

[2015-10-08 05:44] #28 closed

[2015-11-14 14:04] mattseh opened #32 "DHT GET"
Hi,

This works fine:
In [17]: ipfsApi.Client().dht_get('abc')
Out[17]: u'def'

But longer strings, give an error, like this (as well as with "real" hashes):

In [19]: ipfsApi.Client().dht_get('Qmxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx')
TypeError                                 Traceback (most recent call last)
<ipython-input-19-d4f1d57b10d4> in <module>()
----> 1 ipfsApi.Client().dht_get('Q

[2015-11-14 21:31] amstocker commented on #32
yeah this is I definitely a bug, thanks for bringing it up.

[2015-12-09 22:02] pjz opened #33 "Unclear documentation of command options"
In the README, you show both

    api.pin_ls(opts={'type':'all'})

and also

    api.add('fake_dir', recursive=True)

...which is correct usage?

In particular, I'm trying to do the equivalent of `ipfs pin add -r`, but it's unclear to me whether it should be:

    api.pin_add(addr, recursive=True)

or

    api.pin_add(addr, opts={"recursive":"True"})

or maybe something else?

[2015-12-09 22:06] amstocker commented on #33
The `recursive` keyword argument is only for convenience for the `add` function at the moment, so for pinning it should be `api.pin_add(addr, opts={"recursive":"True"})` as you said.

[2016-01-08 14:14] jgraef opened #34 "_object_new undefined"
I just tried calling `object_new`, which in turns tries to call `_object_new`. But `_object_new` is not defined. Patch attached.
[object_new.patch.txt](https://github.com/ipfs/python-ipfs-api/files/82771/object_new.patch.txt)

[2016-02-19 22:54] jbenet opened #35 "suggest renaming repo to "py-ipfs-api""

[2016-02-21 20:30] amstocker commented on #35
That's fine with me!  Do I have privileges to do that?

[2016-02-21 20:31] amstocker commented on #35
Seems that I do

[2016-02-21 20:31] #35 closed

[2016-02-22 02:58] kseistrup opened #36 "Doesn't handle UTF-8 text well"
The API seems to mangle UTF-8 encoded text in a way as if it had received ISO-8859-1 encoded bytes from IPFS and then transformed each byte to a multibyte UTF-8 sequence.

First we create a file with UTF-8 contents:
[code]
Next, let's try and fetch the same content from Python:
[code]

[2016-02-22 06:30] candeira commented on #36
Reproduced under Python 3.5. The text comes out fine under Python2.7, so it's clear that the problem is a Python3 compatibility issue.

[code]

[2016-02-22 11:14] kseistrup commented on #36
I'm sorry that I didn't mention the Python version earlier.

There's nothing wrong with the locale settings in my terminal:
[code]
And usually `python-requests` handles UTF-8 (and other charsets) just fine:
[code]
However, `go-ipfs` doesn't indicate a charset in its response:
[code]
So perhaps `python-requests` can be forgiven for not knowing the encoding of the data it receives from `go-ipfs`?

[2016-02-22 11:17] kseistrup commented on #36
Btw, this is `ipfs version 0.4.0-dev`.

[2016-02-22 11:36] kseistrup commented on #36
[RFC 2616](https://tools.ietf.org/html/rfc2616#section-3.7.1) says:

So it seems requests' behaviour is correct. Perhaps I should submit an issue to the `go-ipfs` project.

[2016-02-22 11:56] candeira commented on #36
Tests forthcoming. I found that the tests in `test/functional/tests.py` weren't being run by tox, and when I ran them I found that the behaviour of `api.add` doesn't pass tests on my version of ipfs, which was outdated. So it's all taking a while as I download, recompile, etc.

[2016-02-22 11:59] kseistrup commented on #36
In my opinion `requests`, and by association `py-ipfs-api`, does the right thing. The `go-ipfs` API, according to RFC 2616, **must** set a `charset` specification, but doesn't.

[2016-02-22 13:15] kseistrup commented on #36
It seems to be a wellknown, if still open, bug in the `go-ipfs` API: ipfs/go-ipfs#1817

[2016-02-22 13:35] candeira commented on #36
It's a regression in 0.4. My tests for unicode passed in 0.3.8, fail in 0.4.

I'm going to make a pull request with the tests, call it a day.

Well, at least I got to install 0.4.0-dev...

[2016-02-22 13:35] kseistrup commented on #36
Well done. Thanks!

[2016-02-22 13:36] candeira commented on #36
Noworries, it's been fun!

[2016-02-22 13:40] candeira commented on #36
Also other, existing tests fail now too under 0.4.0-dev. Don't know whether it's because the API has changed or because of other bugs.

I guess it will have to wait till tomorrow to fix it all and send it packing githubwards.

[2016-02-25 11:15] ingokeck commented on #36
Speaking of failing tests, the tests in test/functional/tests.py fail as well. I was not able to dive into deep, but the assertEqual fails because the api call gives back an unicode string instead of lists/dictionaries. Getting of python objects (api.get_pyobj(...)) also fails with an error that hints an encoding issue. So I guess the issues are connected. (Macosx 10.10.5, python 3.4, ipfs 0.3.10,

[2016-03-16 22:26] amstocker opened #39 "looking for new maintainers"
Hello!  Recently I have not been as involved with this project as I would like to be, and it is likely that I will not have much time in the future (although I would still like to contribute from time to time).  Would anyone be interested in being a maintainer?  I will keep reviewing and merging PRs in the meantime but I think this project could use some love!

In the future I would like to have b

[2016-03-17 20:44] Mec-iS commented on #39
Hi,
I couldn't follow as much as I wanted as well lately. I am interested in
following along and help, we can set up a plan with you guys, looking for
an agreement on a roadmap to have a clear evolution of the repo in mind.
Ciao!

[2016-03-21 13:38] jgraef commented on #39
Hi,

unfortunately I'm really busy right now and can't even work on python3-ipfs-api. I'll come back when I have more time.

[2016-06-02 17:15] xeroc opened #41 "Very Strange behavior on python3.4"
I have a directory with a single image in it which I want to put into
IPFS:

    steem@rootu:/var/ipfs/tmp$ ~/.local/bin/ipfs add -r tmpif66w1c4/
    added QmU8fTvjUP8a2PoaPqf1pDQ4Fm2yrtAruS8pmHHAaZRrxJ tmpif66w1c4/045f1518-2828-11e6-9574-9db9ce0b34be.png
    added QmQVwkefgTHCpauE3nAxixpWsiWRD23AUENnhJ94DGMQtJ tmpif66w1c4

So that is good, but I want to use python:

    steem@rootu:/var/ipfs/tmp$

[2016-06-04 11:32] jbenet opened #42 "Completeness?"
What is the completeness of this api? in relation say to https://github.com/ipfs/js-ipfs-api ?

Many people are using ipfs from python and they've asked me this question lots. I think it would be good to have a spec completeness markdown checklist.

[2016-07-14 14:25] whereswaldon opened #44 "Drop support for Python 2.6?"
My team and I have been working on documenting and testing this library, but much of our testing is made harder by the Python 2.6 support that this library currently has. We've added support for Python 3.5 to our version, and we'd like to remove support for 2.6. Does anyone have a problem with that?

[2016-07-19 03:57] alexander255 commented on #44
Well apparently nobody else is responding, so I go…
As far as I'm concerned dropping Python 2.6 support is a nobrainer and has been overdue for some time. Definitely feel free to go ahead! :smiley:

[2016-07-19 12:06] whereswaldon commented on #44
Thanks for responding! Will do. Our changes should start appearing in the form of PRs in the next week or so.

[2016-07-19 12:06] #44 closed

[2016-07-19 18:41] parkan commented on #41
I am seeing very similar behavior under 2.7, did you figure this out @xeroc?

[2016-07-19 19:06] parkan commented on #41
OK seems to be related to the add api change:

https://github.com/ipfs/js-ipfs-api/issues/178

[2016-07-19 19:56] yusefnapora opened #45 "not compatible with flattened multipart file uploads introduced in 0.4.0"
Hi,

The 0.4.0 release of go-ipfs introduced a change to multipart file upload that breaks compatibility when adding directories (https://github.com/ipfs/go-ipfs/pull/2046)

Currently when adding a directory via py-ipfs-api  with `recursive=True`, the server adds a plain file with multipart encoding noise, e.g.:

[code]

Instead of nested multipart items that are chunked by size, the API now expec

[2016-07-19 20:35] yusefnapora commented on #45
It seems like https://github.com/ipfs/py-ipfs-api/issues/41 may be related, since this issue affects directory uploads

[2016-07-23 16:37] whereswaldon commented on #45
This is resolved by #46 , if it gets accepted.

[2016-08-02 00:26] #45 closed

[2016-08-03 11:51] whereswaldon commented on #34
This should be resolved by #46

[2016-08-03 11:54] whereswaldon opened #48 "Files get has no way to specify the name of the file once it is retrieved"
In the IPFS CLI, you can use `ipfs get -o <hash>` to get a file and save it with a given name, but the `ipfsApi.Client().get()` function does not have this capability right now.

[2016-08-03 11:56] whereswaldon opened #49 "Files add accepts unused filename filter"
The recursive add functionality does not currently use the filter that it accepts to check the names of files. This should be implemented.

[2016-08-03 11:58] whereswaldon opened #50 "TravisCI is broken"
I believe this is because it's testing Python 2.6, which #46 dropped support for. Additionally, the functional tests require a running IPFS daemon on the same machine. I believe we could make TravisCI spin one up with some finagling. I'll investigate that further.

[2016-08-10 21:57] #50 closed

[2016-08-11 01:06] whereswaldon commented on #39
@amstocker I'd be willing to help out if you're still looking for people.

[2016-08-11 01:24] jbenet commented on #39
I think we are
On Wed, Aug 10, 2016 at 21:06 Christopher Waldon <notifications@github.com>
wrote:

[2016-08-11 01:43] amstocker commented on #39
@whereswaldon I would be very happy if you were willing to help!

[2016-08-11 02:17] whereswaldon commented on #39
@amstocker Okay, what's the next step?

[2016-08-11 02:50] tweirick commented on #39
@amstocker @jbenet @whereswaldon I am also interested in helping. If you are still accepting helpers I will also need some guidance regarding the next step.

I am working on a python based bioinformatics paper that uses the IPFS. So I am very interested in seeing the py-ipfs-api work well!

[2016-08-11 10:37] whereswaldon commented on #41
Since #46 resolved #45, can anyone confirm whether this is taken care of?

[2016-08-11 17:30] joshisa opened #53 "Streamline functional/tests exec by doing a pre-check for a running ipfs daemon"
If no ipfs daemon is present/running, the tox test runs/hangs for a lengthy period of time when entering the functional/tests portion.  It might be a more streamlined experience to perform a pre-check on the ipfs daemon state and fail fast rather than running/hanging.

[2016-08-12 01:23] whereswaldon commented on #39
@amstocker If you do want me to help out, don't I need contributor access to the repo?

[2016-08-12 06:34] jbenet commented on #41
cc @diasdavid @dignifiedquire @whyrusleeping who should make sure this was not a user space breakage in the part of go-ipfs.

@whyrusleeping @Kubuxu reminder that we need to ensure all bindings are run with a robust test suite against every release of go-ipfs.

[2016-08-14 21:00] alexander255 commented on #53
You are right about feedback being a bit low atm when `ipfs deamon` isn't running. I've implemented a tiny decorator that should fix this (locally), but I'm not sure if I should fail or skip those tests. Ideally those tests should be skipped but a big warnings messages should be shown instead; something that apparently isn't possible. :disappointed:

What do you think? Skip them or fail them? Do y

[2016-08-15 01:39] whereswaldon commented on #34
Since I believe that #46 fixed this, I'm closing it for now. Please post again if you experience more problems with it.

[2016-08-15 01:39] #34 closed

[2016-08-15 02:09] whereswaldon commented on #10
@larsks This is really sweet, thanks for sharing it. I've added a link to your project from the [readme](https://github.com/ipfs/py-ipfs-api#featured-projects), so I'm going to close this issue (just to keep the number of issues down).

[2016-08-15 02:09] #10 closed

[2016-08-15 02:18] whereswaldon commented on #53
I think my feeling is that there should be a test for having the daemon running in the first place. If there's no daemon, that fails. Then the rest of the functional tests should be skipped. That way you get the feedback that the daemon isn't running, but don't have to wait for all of the tests to fail. Thoughts?

[2016-08-15 02:21] whereswaldon commented on #5
#46 added some pep257-style documentation, but I'll try to work pydoc in soon as well.

[2016-08-15 02:54] whereswaldon commented on #42
As far as I am aware, this is where things are. This is drawn from [here](https://github.com/ipfs/specs/blob/master/public-api/core/README.md).

There were a few items in the spec that I'm not sure how to implement (node_start and node_stop), and a few that people on IRC said to hold off on because they might have security implications.

### Core

- [x] version
- [ ] node
  - [x] id
  - [ ] start

[2016-08-15 12:56] alexander255 commented on #53
I had similar thoughts on this, so I'l just do as you suggested @whereswaldon.

[2016-08-15 14:22] whereswaldon opened #56 "Discussion: Inconsistent module names"
To install py-ipfs-api with pip, you run `pip install ipfs-api`, but to use it in a python file you write `import ipfsApi`.

I think this is because python doesn't allow hyphens in module names, which is understandable. However, this package effectively goes by three names.

1. The git repo is `py-ipfs-api`,
2. The pip package is `ipfs-api`,
3. And the module is `ipfsApi`

Can/Should anything be d

[2016-08-15 14:30] whereswaldon commented on #36
@kseistrup @ingokeck @candeira Can anyone confirm whether this has been resolved in the current version of py-ipfs-api? We've fixed the functional tests and are now compatible with the latest release of go-ipfs, but I don't know if they ever resolved the encoding problem.

[2016-08-15 14:32] whereswaldon commented on #26
Is anyone still working on parts of this checklist? If not, I think we should close the issue.

[2016-08-15 15:24] kseistrup commented on #36
@whereswaldon I just installed py-ipfs-api on Python 3.5.2 and reran the python code shown in my original post. Same result as then.

[2016-08-15 16:15] alexander255 commented on #56
Me too.
I think the module name should simply be `ipfsapi`, similar to how other python modules in the stdlib were (re)named (like `ConfigParser` → `configparser`). The PIP package could also be renamed accordingly.

[2016-08-15 16:56] jbenet commented on #56
- my only request is to keep with the many-language conventions: `<lang>-ipfs-api` for the repo. `ipfs-api` (or `ipfsapi`) for package names.

[2016-08-15 17:37] whereswaldon commented on #36
@kseistrup Okay, thank you. I'll look into it.

[2016-08-15 17:39] whereswaldon commented on #56
Okay, consensus is (and I agree with this):

- Repo name: py-ipfs-api
- PIP package: ipfsapi
- module: ipfsapi

Are we agreed?

[2016-08-15 21:04] alexander255 commented on #26
We probably should create new issues for the remaining tasks (docs, doc hosting, async), then close this.

[2016-08-15 21:28] whereswaldon commented on #42
Actually, the above is a checklist from the wrong API? I'm confused about the discrepancies between [this](http://docs.ipfs.apiary.io/#reference/bitswap/get) and [this](https://github.com/ipfs/specs/blob/master/public-api/core/README.md).
@jbenet What is the difference in intention between those two specs?

### Here is the functionality of `py-ipfs-api` compared against the Apiary:

**NOTE**: Not

[2016-08-15 21:30] whereswaldon commented on #26
Sounds good. I'll do that now.

[2016-08-15 21:32] whereswaldon commented on #5
This issue essentially subsumes the #26 's "Write doc strings for all api methods"

[2016-08-15 21:33] whereswaldon opened #58 "Make a readthedocs.org page"
From #26

[2016-08-15 21:35] whereswaldon opened #59 "Make client more async-friendly"
See #26 for discussion.

I'll be honest; this is over my head right now. I've never done any Python async stuff. I'd love for anyone with more experience to chime in with thoughts or ideas about how/why to do this.

[2016-08-15 21:36] #26 closed

[2016-08-15 22:21] alexander255 commented on #59
Well this seems to be split in two parts actually:

 * Greenthread-style async
 * EventLoop-style async

Since we are using Python requests (for better or for worse), adding the Greenthread-style async (using `gevent`) seems to be fairly simple: We just have to first try to use [`grequests`](https://github.com/kennethreitz/grequests) (which patches up classic `requests` to use `gevent` for blockin

[2016-08-15 22:22] alexander255 commented on #58
Not a technical comment, but wouldn't it be nice to host the docs on IPFS instead (considering what kind of project this is)?

[2016-08-15 22:27] jbenet commented on #59
I **_strongly_** recommend green threads (gevent or eventlet) over eventloops.

[2016-08-15 22:32] alexander255 commented on #59
@jbenet: Due to their simpler integration, or because of some other experience/reason?

[2016-08-15 23:10] whereswaldon commented on #58
That sounds like a great idea! We can just link to it in the readme over the IPFS.io gateway.

[2016-08-16 02:23] whereswaldon opened #60 "Project Infrastructure Goals"
I'd like to lay out some short-term objectives for this repo to get everyone's opinions about them. Some of them might not be great ideas, and I'd like to have that pointed out before I spend any energy on them.
### Concrete Objectives
- [ ] Get 100% test coverage **and** enforce it with CI
- [ ] Implement more of the HTTP API Spec
- [ ] Implement and enforce commit message standards (like signing

[2016-08-16 08:16] jbenet commented on #60
All this LGTM! 👍

[2016-08-16 16:44] #53 closed

[2016-08-16 16:51] alexander255 commented on #58
I'll take care of getting offline docs generation going. Doing it automatically on merge will be another task,

[2016-08-17 00:14] whereswaldon commented on #58
Alright, sounds great. Thanks so much for working on this.

[2016-08-17 01:24] whereswaldon commented on #58
How are you planning to generate the offline docs? We've had a request
for pydoc and/or docstring style comments. Is that the route that you
plan to take?

On 08/16/2016 12:51 PM, Alexander Schlarb wrote:

[2016-08-17 18:20] alexander255 commented on #58
Based on your previous comments I think you might be a bit confused about what `pydoc` actually is (skip the next section if my observation is inacurate), so I'll explain that first:

Unlike most other programming languages python has the ability to retrieve/display documentation for runtime objects (functions/classes/…) *while* your running the program (so that you don't need a separate docviewer

[2016-08-17 18:54] whereswaldon commented on #58
Thanks for the in-depth explanation. I didn't understand the mechanics of pydoc at that level, so I've learned something today.

 I think I phrased my question badly. I wanted to know whether you were going to be updating the source code documentation to conform to some doc style other than what it uses now. I had assumed that pydoc was more structured than the current pep257 documentation style.

[2016-08-17 19:06] alexander255 commented on #58
First I'll set up Sphinx. Once that is working, I'll try to convert everything to [Sphinx's Napoleon](http://www.sphinx-doc.org/en/stable/ext/napoleon.html) style docstrings (which, unlike RST is actually readable when viewed through pydoc).

[2016-08-17 19:17] ingokeck commented on #58
@alexander255 "The only serious drawback about Sphinx is that it insists on RST (which IMHO is a nightmare), but I've figured out how to (mostly) work around that unfortunate fact."

ReStructuredText (ReST), while older, is very similar to markdown but has the advantage that it is strictly defined (unlike markdown which is a horrible collection of incompatible implementations of a not well defined

[2016-08-17 19:23] whereswaldon commented on #58
@alexander255 Sounds awesome; thank you so much!

My level of care about the documentation style is about 3/10. All I want is something that humans can read that doesn't force you to type redundant information. PEP-257 drove me crazy because it had you summarize each method in a class twice (once at the method level and once at the class level). Anything less verbose than that would be fantastic,

[2016-08-17 19:35] alexander255 commented on #58
@ingokeck

Hence the CommonMark initiative (and yes Gruber has not been very helpful at all).

I'm aware that ReST isn't *that* horrible for writing continuous blocks of text (i.e.: the non-API-doc part), but I just prefer MarkDown even for that (using the `reCommonMark` adaptor library). For inline docs napoleon achieves similar results (and ReST is totally non-readable in this scenario). I belie

[2016-08-17 19:39] whereswaldon commented on #49
Compared to some other problems within the repo, this doesn't seem like a huge priority. I looked at what it might take to implement this, but I'm not going to try to do it just yet.

Implementation notes: This needs to be addressed on several levels:
- `ipfsApi.multipart.DirectoryStream._prepare` has access to the `fnpattern` because it's a property of the `DirectoryStream` object. However, it do

[2016-08-17 23:06] alexander255 commented on #58
Current progress: fs:/ipns/QmZ86ow1byeyhNRJEatWxGPJKcnQKG7s51MtbHdxxUddTH/Software/Python/ipfsapi/
Any feedback is appreciated!

[2016-08-22 00:31] jbenet commented on #42
cc @diasdavid @RichardLitt they can maybe explain more.
On Mon, Aug 15, 2016 at 17:28 Christopher Waldon <notifications@github.com>
wrote:

[2016-08-22 08:28] diasdavid commented on #42
@whereswaldon with regards to bitswap, they both list the same commands, care to list what is the discrepancy you see?

Another great resource to help is: https://github.com/ipfs/interface-ipfs-core, we have a bunch of the API defined at https://github.com/ipfs/interface-ipfs-core/tree/master/API and with tests (for js, but that can be translated to python, here https://github.com/ipfs/interface-i

[2016-08-22 10:44] whereswaldon commented on #42
@diasdavid Not with regards to bitswap, but in general. Both of those seem like feature inventories, but not necessarily the same features. One lists "files add", "files get", and "files cat" while the other has "get", "add", "cat" a tons of different commands under the "file" and "files" namespaces. They just don't seem to align, and I don't understand why.

I'll take a look at those tests. It wo

[2016-08-22 11:56] diasdavid commented on #42
The "files" is a specific case, see: https://github.com/ipfs/specs/issues/98

[2016-08-25 14:21] alexander255 commented on #60
I have another thing that I noticed while working on #63:
Currently our exception handling/raising behaviour is all over the place and entirely undocumented, this leads to downstream projects catching [errors from our underlying libraries](https://github.com/oduwsdl/ipwb/commit/60936e5308c9a0be1e6278ae76f7449fa70aea73), because it's the most reliable thing they can currently do.

Basically we need

[2016-08-26 03:22] jbenet commented on #59
Yes, events are a major engineering time waster. Even the most ardent
proponents couldn't beat themselves programming with user level
threads/coroutines. (This is anecdotal evidence I collected by asking
several of them.)

Evented code is great for simple FSMs and simple network protocols, but
quickly gets complex as the caller. Hence user level threads/coroutines +
callback handlers where necessa

[2016-08-27 06:57] fredthomsen commented on #32
Wasn't able to reproduce on the latest master.  This still an issue?

[2016-08-29 19:17] alexander255 commented on #59
@jbenet: The more I read your second answer, the more confused I get. Correct me if I'm wrong: Your basically saying that we should support greenthreads & coroutines and not just callbacks?
To clarify: My first suggestion was about *only* integrating with greenthread libraries (that are not part of standard python), while my second suggestion was about supporting Python's native event loop adaptor

[2016-08-30 00:39] jbenet commented on #59
@alexander255 I was mostly talking about events vs (kernel)threads vs {user,green}threads. all that you say sounds good. i haven't used the new coroutine asyncio lib in py3, but image it works well. (though the explicit `await` is usually a sign of "coroutines added too little too late" to a language)

what i would suggest is: make it easy on programmers. whatever is the easiest to debug will save

[2016-08-30 16:08] alexander255 commented on #59
Yes, the explicit `await` is somewhat redundant, but without it you couldn't do things like [`asyncio.gather`](https://docs.python.org/3/library/asyncio-task.html#asyncio.gather) or storing a coroutine for later. But your also right that Python was designed for single-core blocking I/O in the 90s and that that legacy definitely is showing.

Based on your "make it easy" suggestion, I'd go with 2 (g

[2016-08-30 23:41] #5 closed

[2016-08-30 23:47] alexander255 commented on #33
0cab366c73a3c71f858befcc42f2c36fd64c2df9 has added python keyword arguments for every known IPFS option. Using `opts` is still possible and supported, but shouldn't be necessary, except in special circumstances.

[2016-08-30 23:47] #33 closed

[2016-08-30 23:55] alexander255 commented on #58
I'll keep this open as this issue is more about the actual hosting discussed #63, than about the API docs that were recently added.

[2016-09-04 11:07] alexander255 commented on #36
This should be fixed by #65.

[2016-09-15 22:28] alexander255 commented on #56
This has been fixed with #67

[2016-09-15 22:28] #56 closed

[2016-09-15 22:30] alexander255 commented on #41
Hasn't this been fixed for a while?

[2016-09-16 06:42] kseistrup commented on #36
I just installed from git and I still see the same issue.
[code]
Did I miss something?

[2016-09-16 09:28] alexander255 commented on #36
The result of `cat` should now be a binary string (since an IPFS object may hold any kind of data, not just UTF-8 text). Could you please document again the exact commands you've used?

Working example:

[code]

Also note that the Python package has been renamed from `ipfsApi` to `ipfsapi`, so you might be using the stale PIP package instead.

[2016-09-16 13:28] kseistrup commented on #36
@alexander255 I installed directly from github today (`sudo pip install 'git+https://github.com/ipfs/py-ipfs-api.git'`) and used the exact same sequence as when I reported this issue. I was unaware that the API has changed — mea culpa. When I use your example I do indeed get a valid bytes buffer back from the API call. I'm sorry for the confusion.

[2016-09-16 13:28] #36 closed

[2016-09-20 11:53] whereswaldon opened #71 "Use Flit for packaging?"
@alexander255 Just discovered a package/util for making uploading to PyPI easier. Might simplify our process. It's called [Flit](https://pypi.python.org/pypi/flit), and it is configured through an ini file instead of a setup.py file. I believe that it is cross-platform too, which is nice. Thoughts?

[2016-09-24 23:49] heaven00 commented on #39
I would also love to help :)

[2016-09-24 23:51] heaven00 opened #73 "Separate out encoding.py as multicodec ?"
The `encoding.py` code seems a lot like multicodec implementation, should we separate it out ? so that it can be used in py-ifps too ?

[2016-09-25 00:06] lgierth commented on #39
@whereswaldon I think you did get collab access in the meantime -- do you feel like py-ipfs-api is covered no, maintainer-wise, and this can be closed for now? I'm not very much into python but in the past few weeks activity here as looked pretty good :)

[2016-09-25 02:10] whereswaldon commented on #73
I looked around a little, but didn't find the multicodec specs. What is it responsible for? `encoding.py` basically just handles, JSON and a couple other formats. Is that the purpose of multicodec?

[2016-09-25 10:01] heaven00 commented on #73
yeah, that's the purpose of it, more details https://github.com/multiformats/multicodec

so its one of the requirements listed here too https://github.com/ipfs/py-ipfs/issues/23

[2016-09-25 21:54] alexander255 commented on #41
This has been fixed in the new release. Also we now validate the daemon version if the `ipfsapi.connect()` function is used, nothing else we can do from our side at this point.

[2016-09-25 21:54] #41 closed

[2016-09-25 21:57] alexander255 commented on #39
@lgierth: A lost of that was me sending cleanup patches and fixing bugs & design issues. Now that that's mostly done (one bigger thing left), activity from my side will probably decrease somewhat.
@heaven00: We would definitely love any help we can get. In particular #48 and #49 are some simpler long-standing, bugs that need some unit tests and implementation.

[2016-09-25 22:00] heaven00 commented on #39
would look into it ^_^

[2016-09-25 22:22] alexander255 commented on #73
I like the idea, but reviewing the current `multicodec` spec it seems the current `encoding.py` only handles the “how do I decode data with the given type” part; it doesn't actually provide a multicodec parser yet.
My suggestion would therefore be to start an independent project that provides a full `multicodec` implementation (optionally based on `encoding.py`). Once it reaches the level of matur

[2016-09-26 01:26] whereswaldon commented on #39
@lgierth I am a collaborator, as is @alexander255, and we're doing what we have time to do. Another maintainer would be lovely though. With 3, I think we could safely close this issue.
On another note, would it be possible for @alexander255 or I to have admin access to the repo? We can't add integrations without it (I would love to add Codacy).

[2016-10-03 04:34] heaven00 commented on #49
@whereswaldon close this ?

[2016-10-03 04:39] fredthomsen commented on #73
I have started a python multicodec implementation https://github.com/fredthomsen/py-multicodec.  I believe only json works correctly right now.  I'll look and seeing if we can integrate this.

[2016-10-03 05:06] heaven00 commented on #73
lets complete the module first and then integrate ?
I would love to help out too on this :)

[2016-10-03 15:26] alexander255 commented on #49
Yes, this has been fixed thanks to you :smiley:

[2016-10-03 15:26] #49 closed

[2016-10-08 10:11] Netherdrake opened #75 "Regression: ipfs add no longer works for folders"
[code]

Furthermore, QmRkjAFXWVfY9DQvfeQJ2UfGdvEygJQVoS3YkfobEDDVo8, QmPtdDjMCtf3BgMytQqwfMfvru6bmxNDAHyvMjaivYKCuY and QmT5DQ74JNwwhH7y5LmAjEND9Yu1iukaxBhdjQnwxMCHj8 appears to be garbage.

[2016-10-08 10:42] alexander255 commented on #75
Thanks for reporting this! Are you using the legacy `ipfsApi` (for IPFS 0.3.x) or the updated `ipfsapi` (for IFPS 0.4+) module?
This looks very similar to #41.

[2016-10-08 10:54] Netherdrake commented on #75
Ahh, the issue has been spotted. I am traveling, so I'm working on another computer. I tried using `ipfsApi` on ipfs v.0.4.2, which doesn't seem to work.

Thanks for the tip, I didn't know about `ipfsapi` :)

Everything works well now.

[2016-10-08 10:54] #75 closed

[2016-10-17 02:25] fredthomsen commented on #73
Another problem is that we need to make py-multicodec support streaming, currently it only takes fixed length rather than streams.

[2016-12-06 14:17] alexander255 commented on #71
I've looked at back when you opened the issue, but didn't write a response yet. Sorry.

I really like what `flit` is trying to achieve, but I'm really worried about compatibility with existing implementations of `pip` (see https://github.com/takluyver/flit/issues/74). Also `flite` apparently hard-codes the useage of `README.rst` for the package description (which we converted to MarkDown when [swi

[2017-01-09 11:56] kurthalex opened #81 "Could not resolve name when clicking client API reference on README"
Link to the client API reference is broken in the README page

https://ipfs.io/ipns/QmZ86ow1byeyhNRJEatWxGPJKcnQKG7s51MtbHdxxUddTH/Software/Python/ipfsapi/

[2017-01-09 15:42] alexander255 commented on #81
Thanks for the report. I had deleted the entire IPFS configuration on my computer and the node keeping the documentation data around had a bug that caused it to happily remove the data from its own storage as well. It's fixed now! Thanks for the report! 🙂

[2017-01-09 15:42] #81 closed

[2017-01-24 00:52] mguentner opened #82 "Add HEAD option / ignore result for some requests"
For some requests it makes sense to use HEAD over GET if it is only
relevant whether the request succeeded or not.

Background:

`client.repo_gc()` can potentially return many values (scale: easily 10-100k) depending on how much garbage was collected.
It takes quite some time to parse and decode (`json`) all that even if the result does not matter
inside the calling function.
Most of the time you

[2017-01-31 04:17] whereswaldon commented on #82
You know, that's a fantastic point. Would you care to have a go implementing it?

[2017-02-03 01:43] puilp0502 opened #83 "Documentation not available"
[The documentation link](https://ipfs.io/ipns/QmZ86ow1byeyhNRJEatWxGPJKcnQKG7s51MtbHdxxUddTH/Software/Python/ipfsapi/) in README seems to be down.
Could this be ipns related? Gateway says "Could not resolve name".

[2017-02-03 14:16] whereswaldon commented on #83
@puilp0502 I suspect that the node hosting that IPNS address is down, but I'm not actually sure where that node is hosted. If you have make and sphinx available, you could generate a copy from the `docs` directory with `make html`.

@alexander255 Is the IPNS link that we provide in the README from your personal IPFS node, or from something cloud-based?

[2017-02-03 15:31] puilp0502 commented on #83
@whereswaldon Thanks!
In case of someone looking for docs stumbling upon this issue, I added documentations as of 33e3ce1 [here](https://ipfs.io/ipfs/QmdxmAVNCJ4RQJquoTxTfi2p51damA3HfxCUyBHcMdJJ85/).

[2017-03-08 23:55] cappelaere opened #84 "add only_hash=True"
I am trying to get the hash of an existing file without adding to the IPFS.
ipfs add myfile --only_hash  seems to work
but ipfs_api.add(myfile, only_hash=True):
TypeError: request() got an unexpected keyword argument 'only_hash'

Am I doing something wrong?
Thanks.
Pat.

[2017-03-09 04:49] mguentner commented on #84
Without actually testing it: ` ipfs_api.add(yourfile, opts={'only_hash':'true'}` should do the trick

[2017-03-10 15:40] whereswaldon commented on #84
@cappelaere While @mguentner 's answer looks right, it's not working for me. I'm trying to debug this now.

[2017-03-14 15:14] whereswaldon commented on #84
@cappelaere Alright, I think I've got it:
[code]
The key is that 'only-hash' uses a hyphen, '-', rather than an underscore, '_'.
Let me know if that solves your problem!

[2017-03-14 15:23] whereswaldon commented on #83
Since this is resolved, I'm going to close it. Thanks for putting the docs up!
@alexander255 Have you seen the above?

[2017-03-14 15:23] #83 closed

[2017-03-14 23:07] alexander255 commented on #83
Yup, I've seen, fixed and immediately forgotten about the above 😕
Sorry about that, stuff like that really shouldn't happen!

Regarding your original question:

Both, it's a VPS that runs a hand-crafted cron-job which re-exports the files from my personal IPFS node. I do not quite remember what the problem back then was, but I've set up web monitoring of the docs through an external monitoring ser

[2017-03-23 18:57] whereswaldon commented on #83
Okay, thank you!

[2017-05-24 11:55] TheKysek opened #85 "Sometimes not all files passed to add() function are added"
While running tests against newest versions of go-ipfs i noticed that "test_add_multiple_from_list" was seemingly randomly failing.

It seems like while adding multiple files using "add(['file1', 'file2'])" sometimes this call fails.

[code]
When this happens the following error is printed in go-ipfs daemon console:
[code]

[2017-05-27 11:16] alexander255 commented on #85
Thanks for reporting, but we unfortunately do not currently have time to look into fixing this. (Maybe in a couple of weeks.)

You, or anybody else interested in helping out, are very welcome to provide patches or further hints for this through.
Thanks for helping out by reporting either way!

*Sorry for the delayed response, this should have been sent on Thursday, but GitHub apparently told me: „

[2017-05-30 01:52] whereswaldon commented on #85
@TheKysek Nice catch! I also can't try to debug this at the moment, but we'd welcome any further hints as to where the error originates. It seems like the IPFS node is sometimes receiving an invalid HTTP body. It's possible that the error has something to do with the code that generates the multipart HTTP request body.

[2017-06-21 21:45] alexander255 commented on #59
@faisalburhanudin: I have just stumbled upon [this great-looking thing](https://pypi.org/project/aipfs/#files) by accident and got interested: What was your inspiration in writing this? Why did you (apparently) abandon it? It looks like an important milestone for the Async interface we still never yet had, so it may be useful to us as well.

Regarding usefulness in particular: Would you be willing

[2017-06-22 17:47] parunach opened #94 "Documentation for different parts"
I see that the simple writeup is only for connecting to daemon and adding a file.

Please add for
-How to list all the files added with different methods
-How to get a specific file with multiple ways

Without this, the usability is insufficient.

[2017-06-23 08:21] qoolq opened #95 "publish value to specific key name"
The IPFS command line utility provides a way to publish an IPFS path for a particular IPNS key by using its name, e.g. `ipfs name publish --key=mykey ...`; ipfsapi doesn't seem to have a way to do this, however.

[2017-06-23 13:10] alexander255 commented on #95
Thanks for your feedback! We are indeed a bit behind in terms of tracking all the recent API additions atm…

As a temporary workaround you can use the `opts` parameter (for an example see [here](https://github.com/ipfs/py-ipfs-api/issues/84#issuecomment-286453073)); it would be awesome however if you could prepare a tiny commit (see 7c16cc6917080fb631f7e329fca17b16980a5d5e for an example) that add

[2017-06-23 13:12] alexander255 commented on #32
Closing due to inactivity

[2017-06-23 13:12] #32 closed

[2017-06-23 19:12] alexander255 commented on #94
Yes, *someone* needs to write more documentation: Particularly a tutorial, which is basically what you are implying, would be a very nice addition to our current documentation indeed!

A short description of the `.id()` output may be found here, but it's not very complete either:
https://ipfs.io/docs/commands/#ipfs-id

[2017-06-23 19:26] alexander255 opened #96 "Deprecate `.add_pyobj()` & `.get_pyobj()`?"
Looking at the current README, I just noticed this passage:

What this doesn't mention unfortunately is that doing that `.get_pyobj()` on a hash from an untrusted source = remote code execution. Our documentation [does mention this](http://127.0.0.1:8080/ipns/QmZ86ow1byeyhNRJEatWxGPJKcnQKG7s51MtbHdxxUddTH/Software/Python/ipfsapi/api_ref.html#ipfsapi.Client.get_pyobj), but even that passage doesn't

[2017-06-23 19:50] parunach commented on #94
Yes, it will be great if someone does this. I see no books on ipfs, makes it hard to understand the details. All references are to ipfs website, GitHub and some articles.

[2017-06-28 01:19] pjz commented on #95
So.. I fixed this, but then wondered if maybe the entire idea of trying to keep up with the go api individual args is wrong.  Why not just do something like:
[code]
to make `ipfs.name_publish(path, key="mykey")` work as expected?  It's basically taking the `opts` workaround and using it as the main way to handle args.   It does mean that the documentation becomes mostly a pointer to the ipfs-go-ap

[2017-06-28 17:26] #95 closed

[2017-06-28 17:45] alexander255 commented on #95
I guess technically you're right, but I dislike the idea to be honest: The API isn't that volatile anymore and it's kinda nice to have those parameters represented natively in Python – for one it gives us positional parameters that would break for everybody using them atm. Also `opts` isn't the only "magic parameter" currently supported and we'd basically lock ourselves out of adding more if follo

[2017-07-24 18:36] machawk1 opened #99 "ipfs shutdown support"
go-ipfs v0.4.10 introduced the `ipfs shutdown` directive to more gracefully kill the IPFS daemon instead of CTRL-C or killing the PID (or in ipwb, `killall ipfs`). It would be [much preferred](https://github.com/oduwsdl/ipwb/issues/236) to use the ipfs-api module to accomplish this but no `ipfsapi.shutdown()` is implemented as far as I can tell, as the API is currently aligned with go-ipfs v0.4.9

[2017-07-24 20:37] alexander255 commented on #99
Hi and thanks for the feedback!

Sending arbitrary commands is indeed only possible using the (largely undocumented) internal API. This should do the trick for now however (API stablility on this not guaranteed beyond the next minor version):

[code]

Since there is such [a nice update](https://ipfs.io/blog/27-go-ipfs-0-4-10/) on what changed in v0.4.10, I'll be updating the library quite soon thr

[2017-08-02 01:54] whereswaldon commented on #96
They've always seemed a little hacky to me, so I'd be happy to drop them in 0.5.x. When I was working on the code in that area, I was more naiive and the magnitude of the problem didn't jump out at me, but now it does. Have you started on replacing the bad docs already?

[2017-08-02 11:57] alexander255 commented on #96
I did not at first realize either how big the issue was, otherwise this would have been dropped during our 0.4.x transition already. 😦
Anyways, I submitted the necessary changes for deprecation! Lets get this one fixed as well! :+1:

[2017-08-02 12:00] #96 closed

[2017-08-02 14:40] #99 closed

[2017-08-03 13:51] alexander255 opened #103 "Test with JS-IPFS"
Since JS-IPFS has (mostly) feature-parity with Go-IPFS we should probably look into testing the client library with that daemon implementation as well.

Steps to be done:

 * [ ] Fire up an JS-IPFS instance and run the py-ipfs-api test suite, then report what happend
 * [ ] Fix any issues encountered (including skipping tests for features not present)
 * [ ] Add CI-testing for Python 2.7 and the l

[2017-08-04 20:57] alexander255 opened #104 "`.add()` serializes all input data to a giant binary string before uploading"
This is obviously a no-go.

[2017-08-07 10:54] whereswaldon commented on #104
Are you referring to the generators in `multipart.py`? If so, how do you propose to change it? Is your concern uploading large files (and therefore taking up inordinate amounts of RAM)?

[2017-08-07 11:18] #84 closed

[2017-08-07 14:35] alexander255 commented on #104
Ignore them they are just distraction and not actually used when uploading a directory 😁.

Instead [this code is called](https://github.com/ipfs/py-ipfs-api/blob/master/ipfsapi/multipart.py#L526-L528), which (internally) serializes everything to one giant byte string which is [later retrieved and returned](https://github.com/ipfs/py-ipfs-api/blob/master/ipfsapi/multipart.py#L409).

Steps to reprod

[2017-08-08 12:36] alexander255 commented on #71
So I looked at `flit` again the last couple of days and I'm very happy with what I see: 😁

 * [X] `flit` can now create sdist files (by generating a tiny setuptools-style package)
 * [X] Flit has a [hidden feature](https://github.com/takluyver/flit/issues/127#issuecomment-320707779) for reading the decription from MarkDown files and converting it on-the-fly to ReST by call `pandoc` through `pypand

[2017-08-09 20:04] alexander255 commented on #71
We now use `flit`! \o/

[2017-08-09 20:04] #71 closed

[2017-08-09 21:20] alexander255 opened #107 "Drop "made by Protocol Labs" badge?"
Looking at our [contribution page](https://github.com/ipfs/py-ipfs-api/graphs/contributors), the largest contribution a protocol labs employee has made to this project was @RichardLitt by updating our README with the mentioned badge. Even IBM et al has made more contributions to this project than Protocol Labs 😉.

Unless Protocol Labs hires me or @whereswaldon, I think it would only be honest to d

[2017-08-09 21:21] RichardLitt commented on #107
None from my end. I included that in all of the IPFS repos, but it may not fit here. :)

[2017-09-01 15:20] Netherdrake opened #108 "IPFS add is missing results"
Using `go-ipfs (0.4.10)`:
[code]

Using `py-ipfs-api (ipfsapi-0.4.2)`:
[code]
Only outputs 1 or 2 items:
[code]

[2017-09-09 03:43] Netherdrake commented on #108
Strangely, after nuking `~/.ipfs` it started working again.

[2017-09-09 03:43] #108 closed

[2017-09-10 14:49] machawk1 commented on #107
@alexander255 This can probably be closed per 4be777d940892ffde44f44d6e662764a67e9804d.

[2017-09-10 15:04] machawk1 opened #109 "Documentation link no longer works"
The README suggests looking to https://ipfs.io/ipns/QmZ86ow1byeyhNRJEatWxGPJKcnQKG7s51MtbHdxxUddTH/Software/Python/ipfsapi/ for documentation but upon accessing the link, the following message appears:

...with no other documentation.

[2017-09-10 21:12] alexander255 commented on #107
Indeed, thanks for pointing it out. 🙂

[2017-09-10 21:12] #107 closed

[2017-09-10 21:43] alexander255 commented on #109
That was quick! (Only three hours after the IPNS link expired, apparently.)

I had planned on fixing this yesterday, but got delayed. Sorry for the inconvinence!

[2017-09-10 21:43] #109 closed

[2017-10-11 20:22] shshnkvadali opened #110 "The 'get' module downloads the file and names it the hash value"
With the following code
`api = ipfsapi.connect('127.0.0.1', 5001)`
`api.get(<hash>)`
The file is downloaded and is renamed as hash. I'm not certain if this is done on purpose or an issue that needs to be resolved.

[2017-10-14 15:32] whereswaldon commented on #110
That is correct behavior. This is also what the `ipfs` CLI does when you download a file by hash, unless you specify an output filename. We do not currently have that capability, though if you're interested in adding it, see #48

[2017-11-01 16:10] pjz commented on #104
Pertinent: http://docs.python-requests.org/en/master/user/advanced/#streaming-uploads

[2017-11-01 16:14] pjz opened #111 "No way to add a bytestream via `.add()`"
`.add()` requires a filename be passed to it - there's no way to pass in just a bunch of data.  I guess I should write the data to a tempfile and pass that filename in?  ick.

[2017-11-02 13:15] whereswaldon commented on #111
You're right, it would be nice if there was an alternate way to do that. Would you like to take a stab at writing it?

[2017-11-02 14:58] rddaz2013 commented on #111
"just a bunch of data" for ipfs it has to be a 'solid' file - because of the hashing. If it it only a tempfile nobody can fetch the data per hash - anymore.  If you got 'fire-and-forget' data use the new pubsub feature to send a data into a channel.

Don't know if py-ipfs has already the pubsub feature.....?

[2017-11-03 12:59] pjz commented on #111
@whereswaldon not at the moment, sorry; I'm trying to get some other IPFS services limping.  Later, maybe.

[2017-11-09 05:43] lacabra opened #112 "Faulty 'truncate' option in files_write()"
The following code fails:
[code]
The second assertion fails with `yes two three` ==  `yes`

This error is seems to be specific to the API implementation, as the command line equivalent works just fine:
[code]

[2017-11-17 18:08] Restaldt opened #113 "Outdated keyword under usage in readme?"
Not really much of an issue but i didnt know where else to put this:

under your usage section in the readme:

Add a directory and match against a filename pattern:

[{'Hash': 'QmcqBstfu5AWpXUqbucwimmWdJbu89qqYmE3WXVktvaXhX',
  'Name': 'photos/photo1.jpg'},
 {'Hash': 'QmSbmgg7kYwkSNzGLvWELnw1KthvTAMszN5TNg3XQ799Fu',
  'Name': 'photos/photo2.jpg'},
 {'Hash': 'Qma6K85PJ8dN3qWjxgsDNaMjWjTNy8ygUWXH2kf

[2017-11-17 18:50] whereswaldon commented on #112
Yeah, that certainly seems like a bug in the implementation, thanks for pointing that out! Are you interested in trying to squash this? You've already provided something that essentially acts as a test case. All you've got to do is trace where that truncate option is getting lost in the code.

[2017-11-17 18:59] whereswaldon commented on #113
Huh. Yeah, that's odd. I'll have to check on that soon. Thanks for pointing this out!

[2017-12-05 21:23] zbyte64 opened #114 "Expose pub sub API"
Pub sub functionality is now available through the IPFS HTTP API, would like the client to support such functionality.

[2017-12-07 13:15] whereswaldon commented on #114
You're right that we should have that! We'll take a stab at it soon unless you're interested in adding it?

[2018-01-11 07:02] suzaku commented on #114
@whereswaldon Can I help with this? I'm just starting to learn more about IPFS, but I've written a lot of Python code, so I guess I can do this if you give me some documentation about this API.

[2018-01-16 13:54] nicolas-f opened #117 "Support for proxy"
Hi,

You are using requests libs. There is an option to use http or socks proxy in this library.

http://docs.python-requests.org/en/master/user/advanced/#proxies

Do you have any tips in order to use ipfsapi with a proxy configuration ?

ex:

[code]

[2018-01-17 14:55] whereswaldon commented on #114
@suzaku We'd love the help. The HTTP API is documented here: https://ipfs.io/docs/api/#apiv0pubsubls
You may have to scroll down to reach it. Find the heading `api/v0/pubsub/ls`, which is the first HTTP endpoint related to Pub/Sub.
It ought to be possible to use a lot of the existing HTTP-request-related code to do this. Look at how existing functions are implemented as a guide.
Thanks!

[2018-01-17 15:00] whereswaldon commented on #117
It isn't currently supported, but it wouldn't be difficult to add it. Right now, extra keyword arguments to the connect method are passed all the way down to here in the `defaults` parameter:
https://github.com/ipfs/py-ipfs-api/blob/master/ipfsapi/http.py#L59
The HTTPClient would need to check whether there were proxies defined, save them as a field (if they were), and use them when it invoked met

[2018-01-17 15:02] nicolas-f commented on #117
Sure. I will make a PR.

Thanks

[2018-01-18 02:30] suzaku commented on #114
@whereswaldon

Thanks, I'll take a look at the documentation.
By the way, just out of curiosity, why isn't `requests` used directly?

[2018-01-18 04:46] whereswaldon commented on #114
There were certain types of request that required more complex management
than others. We actually used to do a lot more in the http logic. We
switched to requests in the last year, I think. Before that, I managed a
bunch of generators that wrote multipart http request bodies. It was a
mess.
Anyway, I think we still need the abstraction that the HTTPClient class
provides. I could be wrong though.

[2018-01-18 06:03] suzaku commented on #114
@whereswaldon

Thanks for replying.
The additional methods for `pubsub` API are easy to add, but I can't run the tests on my laptop.
There seems to be some kind of compatibility issue with `ipfs`, for example, I would see the following error:

[code]

which shows that `ipfs` returns an extra field.

[2018-01-18 13:42] whereswaldon commented on #114
What ipfs version are you using?

On Jan 18, 2018 1:03 AM, "satoru" <notifications@github.com> wrote:

[2018-01-19 02:52] suzaku commented on #114
@whereswaldon It's 0.4.13.

[2018-01-19 04:13] whereswaldon commented on #114
Hrm. We should future-proof the tests... Should be simple enough to ignore
that key.

On Jan 18, 2018 9:52 PM, "satoru" <notifications@github.com> wrote:

[2018-01-19 06:43] suzaku commented on #114
OK, so before adding new features, I'll create a new branch to make sure all tests pass in both my development environment and Travis.

[2018-01-25 07:13] rememberberry commented on #112
Not the OP, but the problem is on this line (missing quotes):
`opts = {"offset": offset, "create": create, truncate: truncate}`

[2018-01-25 07:18] rememberberry opened #118 "Missing 'object diff' method"
It seems the api is missing the object diff method. As easy as:
`
def object_diff(hash_a, hash_b, **kwargs):
  args = (hash_a, hash_b)
  return self._client.request('/object/diff', args, decoder='json', **kwargs)
`

[2018-02-02 15:37] AdamTheAnalyst commented on #114
+1 for this. Happy to help out if you need a hand

[2018-02-08 19:33] whereswaldon commented on #118
Looks great. If you'd like to write a test for it, we'd be happy to include in as a PR. Thanks!

[2018-02-09 02:13] whereswaldon commented on #114
@AdamTheAnalyst Perhaps you and @suzaku should coordinate on the current status of this?

[2018-02-09 06:53] aetherwu opened #120 "Can't run: shows decode error:"
Could anyone please help out on where to begin debug this error...?

python 3.6.4.2
ipfs version 0.4.11
latest ipfs-api

ipfs daemon is running correctly and its web gateway works properly.

PYTHON CODE
`
#!/usr/bin/python
#coding:UTF-8

import ipfsapi
api = ipfsapi.connect('127.0.0.1', 5001)
`

OUTPUT
`
Traceback (most recent call last):
  File "Untitled.py", line 5, in <module>
    api = ipfsapi

[2018-02-09 07:19] aetherwu commented on #120
Found error on raw response:

`
Connection Closed

The requested URL could not be retrieved:
http://127.0.0.1:5001/api/v0/version?stream-channels=true

Error descriptions:
Socket closed by remote peer
`

Solved:
Close local proxy.

However an error should be raised here properly.

[2018-02-09 07:19] #120 closed

[2018-04-10 16:40] Cole128 opened #121 "Documentation link doesn't work"
The directory the IPNS link leads to is empty. I would love to have actual documentation so I can use the library.

[2018-04-11 12:14] alexander255 commented on #121
Fixed. The IPNS link is a great demo of how reliable that system currently is…

[2018-04-11 12:14] #121 closed

[2018-04-12 02:48] VictorBjelkholm commented on #121
It's as reliable as it was designed to be currently :) Make sure you update the record once every ~24 hours (or more often) as the records expire.

[2018-04-12 09:48] alexander255 commented on #121
The problem I have encountered way more often is that the daemon will “forget” it's own published records and then stop publishing anything.

[2018-04-12 09:55] VictorBjelkholm commented on #121
@alexander255 that sounds like a serious bug if that so. Could you please open up a bug report in ipfs/go-ipfs with as much information as possible about it? That should definitely not happen.

[2018-04-12 11:59] alexander255 commented on #121
@VictorBjelkholm: I have exactly 0 information other than „it happens sometimes when the daemon doesn't run for a couple of hours“. Exactly the kind of bug report that tends to be ignored and finally closed being non-reproducible. That's why I didn't bother.

[2018-04-12 12:02] alexander255 commented on #121
Anyways I just realized that the `ipfs/go-ipfs` doesn't have the latest tag set to `v0.4.14` – which is why I still was at `v0.4.13`. Supposidly the update will fix some IPNS related things so we will see, I guess.

[2018-04-24 10:13] SteelStrider opened #122 "Upload data to remote."
Hi!
At the moment I encountered such a problem:
Time from the time it is necessary to upload files (of different sizes) to a remote node,
For this purpose I used a documented command add() and everything works just fine.
The problem occurs when i try to upload a large file... (for download i use requests.get and can see progress) so question Is there any way to get the upload progress in order to

[2018-04-24 16:10] alexander255 commented on #122
Unfortunately there is no progress reporting for `client.add()` currently, but you may be able to stream files by using `requests.post` directly and a workaround like [this](https://stackoverflow.com/questions/13909900/progress-of-python-requests-post) (as requests does not support this feature either).

[2018-04-25 15:07] alexander255 commented on #114
No, it's not hard or anything. Just follow the existing pattern in `client.py` and add some tests. We just need somebody to do that and contribute the result.

[2018-04-26 13:03] slandau3 commented on #114
If no one has any objections, I'd like to give this issue a shot.

[2018-04-27 00:56] slandau3 commented on #114
PR #123 opened

[2018-05-02 21:12] sujaypat commented on #112
@whereswaldon Can this issue be closed since #119 was merged?

[2018-05-09 16:40] whereswaldon commented on #112
@sujaypat Absolutely.

[2018-05-09 16:40] #112 closed

[2018-05-26 09:20] Gzing opened #126 "Compatibilty with js-ipfs"
Seems like this package is built to talk to go-ipfs and throws VersionMismatch exception when I try to connect to js-ipfs daemon.

are there any plans to make py-ipfs-api compatible with js-ipfs?

[2018-05-26 14:23] #126 closed, assigned to nobody

[2018-07-09 21:11] chorig9 opened #129 "Timeout for getting files from IPFS"
Hi,

Is there any way to specify timeout for methods like cat()/get() or any other way to handle calls to this functions with hash to non-existing resource?

Thanks

[2018-07-11 01:29] whereswaldon commented on #129
As far as I am aware, the underlying IPFS doesn't have support for that, so you'll need to look into options in Python. You may be able to run your `client.get('whatever')` in a cancellable context though. Something like [this](https://stackoverflow.com/a/31667005/7106084) might work for you, but I haven't needed to do it myself.

[2018-07-11 13:30] mckingho opened #130 "Support of `ipfs dag ...`"
Hi,
I cannot find a function to dag put. It would be nice to have these interface supported. Thanks.
https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/DAG.md

[2018-07-12 00:14] whereswaldon commented on #130
Hello @mckingho! We actually do not have an implementation of those yet, but it would be easy to add it. Would you be interested in helping to implement those?

[2018-07-16 05:19] ibnesayeed opened #131 "Concurrent fetches are slower than sequential"
In [IPWB](https://github.com/oduwsdl/ipwb) (an web archiving replay system) we store archived HTTP headers and payloads in two separate objects for better deduplication of payloads. At the time of replay, we fetch the two objects, combine them, make necessary modifications, and return the response to the client. In our initial implementation we used to fetch the two objects sequentially, but there

[2018-07-16 06:10] ibnesayeed commented on #131
There was an issue in my benchmarking script that was calculating the elapsed time wrongly. That's why threaded fetch times are reported longer than they should have been. However, results are still not how I would like them to be. Following are some timing summaries with single iteration for different number of concurrent item fetches.

[code]

[2018-07-17 10:47] davinci26 opened #132 "Redirect Get to \dev\null"
Hey guys,

Thanks for the API!!!!!

Is it possible to redirect the output of ipfs.get to \dev\null\?

[2018-07-17 14:46] davinci26 commented on #132
Thanks a lot!

Ooops the slash direction was a typo.

I am trying to simulate a content distribution network, and I want to measure the download speed under various conditions so I want to avoid storing unnecessary files that's why I don't do pin_add. I garbage collect the daemon right after I finish with the downloading.

Who are you 🙀?

[2018-07-17 16:46] alexander255 commented on #131
Hmm… Looking at your benchmarking script it immediately strikes me that you create/destroy a thread for each request. That definitely decreses performance, try using [`concurrent.futures.ThreadPoolExecutor`](https://docs.python.org/dev/library/concurrent.futures.html#threadpoolexecutor) for making these calls instead (keep the thread pool alive during the entire lifetime of the application).

If y

[2018-07-17 17:23] ibnesayeed commented on #131
While in our actual application we can certainly use persistent thread pools, in the benchmarking script however we are reporting timing in two different ways. If you look at the sample output in the benchmark repo's README file, attempts on individual items are reporting elapsed time only for the `cat()` call, while the summary of each attempt as well as the overall summary reports the overall ex

[2018-07-17 17:49] machawk1 commented on #131
Aside: if we can achieve the anticipated speedup using async/threading, it might be worth supporting only Python 3 in ipwb.

[2018-07-19 03:10] whereswaldon commented on #132
@davinci26 Did one of these solutions end up working for your use-case?

[2018-07-19 09:40] davinci26 commented on #132
@whereswaldon I didnt try the directory solution as I was not interested in it. However, the single file solution worked fine for me.

[2018-07-20 12:59] stmoreau commented on #132
@davinci26 I would like to know as well who @alexander255 is!

Can I trust this guy? Can I trust you?

Your profile info says:
`Mentalist, show me your repo's and ill tell you who you are`

[2018-07-27 08:11] khssnv opened #133 "Add method returns a list on adding one file"
Adding one file user expects dict-type return (unfolded from original list-type response by [stream decorer](https://github.com/ipfs/py-ipfs-api/blob/master/ipfsapi/http.py#L119)), but if ipfs provider proceed request with error (even it's not critical) he got a list like its shown below.
[code]
If user adding a directory he also get a list longer than expected.
[code]
Maybe there is a better plac

[2018-08-01 09:07] crazychl opened #134 "python api connection error"
[code]

[2018-08-02 17:45] swedneck opened #135 "Documentation link broken"
Seeing as this has been reported and fixed before i'm a bit hesitant to report it, but better safe than sorry!

[2018-08-03 12:30] codeluggage opened #136 "Missing word in documentation"
There might be more of these but this was the only one I saw. The word `kwargs` (presumably) is missing from the documentation here: https://ipfs.io/ipns/QmZ86ow1byeyhNRJEatWxGPJKcnQKG7s51MtbHdxxUddTH/Software/Python/ipfsapi/api_ref.html#the-api-client

I'm assuming it refers to `kwargs` because I see the same sentence here: https://github.com/ipfs/py-ipfs-api/blob/master/docs/api_ref.md#the-api-c

[2018-08-09 00:54] machawk1 opened #137 "Inconsistent exceptions when adding empty byte strings"
I am encountering an issue when adding strings of 0 length using `add_bytes(bytes(''))` (in https://github.com/oduwsdl/ipwb/issues/485).

Replication:
[code]
...but sometimes from this same line with the same empty string I get:
[code]

Is it in violation to add an empty string "as bytes" to IPFS using `add_bytes()`? Any clue why I would be getting multiple errors from the same line (replicable in

[2018-08-09 01:15] ibnesayeed commented on #137
I can confirm that in Python 3.7.0 attempting to store an empty bitearray throws a `TypeError` exception.

[code]

[2018-08-09 01:17] machawk1 commented on #137
Thanks for the sanity check @ibnesayeed, as I thought that maybe Py2 was the scapegoat. Are you able to see `ipfsapi.exceptions.ConnectionError: ConnectionError: [Errno 32] Broken pipe`? I ran the same command (`api.add_bytes(b'')`) multiple consecutive times and _sometimes_ got the broken pipe exception and other times the `TypeError` you confirmed.

[2018-08-09 01:39] ibnesayeed commented on #137
No, I never got `ConnectionError`, though I tried it a few times in succession, it has always been `TypeError` for me.

[2018-08-22 10:04] ncaew commented on #134
I meet same issue here:

[code]

[2018-08-27 04:01] ncaew commented on #134
In my case, to fix this issue is very easy:
[code]
Run test code above again. It it OK.

I think the root cause is the the requests version is too old.
Before update requests, version is:
[code]

After update requests, version is:
[code]
Hope this will help.

[2018-09-07 21:00] zbyte64 commented on #129
Using signals and threads wont work, and shouldn't be done anyways. There isn't a timeout context I could find, looks like the `request` method should pass along kwargs to support this...

[2018-10-03 22:02] jonnycrunch commented on #130
@whereswaldon this is trivial with the requests module:

import requests
resp = requests.get("http://localhost:5001/api/v0/dag/get?arg=<cid>")
data =.resp.json()

[2018-10-07 10:41] alexander255 commented on #129
@zbyte64: Please note that the use of requests is considered an implementation detail and will likely be augmented by another backend, `aiohttp`, in the future (if I ever get around to fixing the final issues with that). Hence passing arbitrary args to requests has been removed in the 0.4.x transition iirc.

That being said: Since you definitely have a point through that the timeout parameter woul

[2018-10-07 11:46] alexander255 commented on #137
Thanks for the feedback everybody! Turns out the root cause of this issue is likely the same as that of #104: Our broken HTTP multipart streaming backend.

I come to this conclusion, because I found that the failing function received the following result from the deamon:

[code]

However the function only expects:

[code]

from which it would then take the string-index `'Hash'`, explaining the wei

[2018-10-30 00:52] whereswaldon commented on #136
Hmm... You're totally right. I wonder what's making that disappear. Thanks for bringing this to our attention!

[2018-10-30 00:54] whereswaldon commented on #136
Had a hard time deciding how to categorize this. Ultimately, it's a bug in our documentation, so I decided that it doesn't deserve the normal "bug" label.

[2018-10-30 00:55] whereswaldon commented on #133
How do you wish that it worked instead? We do need to propagate that error to the caller somehow, but I'd be open to hearing about alternatives for a future API.

[2018-10-30 00:56] whereswaldon commented on #135
The docs are hosted via IPFS on one of the dev's machines. Unfortunately, they aren't pinned in many places, so they tend to disappear when that machine goes offline for any reason. If you'd like to help, you can pin the docs to your own IPFS nodes!

[2018-10-30 10:30] alexander255 commented on #133
The plan for `ipfsapi` 0.5+ atm is that it will always return a list, making the return value more predictable. I do think however that we shouldn't just return these types of errors but actually raise an exception in this case (containing the partial result as a property). What do you think @whereswaldon @khssnv?

[2018-10-30 10:33] alexander255 commented on #135
The docs are not down and are hosted on my server, however they do sometimes need quite some time until they are loaded – especially when `ipfs.io` is overloaded again.

[2018-11-15 09:26] daviddias opened #140 "proposed Module rename. -api => -http-client"
Hi! We are considering renaming the IPFS Client libraries, please read more at https://github.com/ipfs/ipfs/issues/374 and comment if you are onboard.

[2018-11-20 05:49] AliabbasMerchant commented on #136
Hi. I think I got the solution to this problem.
I would like to contribute.
I should branch from master, right??

[2018-11-20 06:53] daviddias commented on #140
@AliabbasMerchant go for it :)

[2018-11-21 04:29] AliabbasMerchant commented on #140
I'll do it by this weekend, hopefully :+1:

[2018-11-21 07:14] daviddias commented on #140
Thank you @AliabbasMerchant :)

[2018-11-21 17:49] alexander255 commented on #140
@AliabbasMerchant: So you'll submit a PR that renames this module and stuff?

[2018-11-21 19:16] mikeal opened #142 "New IPFS Client Maintainers Group"
Hiya :)

In the IPFS org we’ve [created a new group](https://github.com/ipfs/community/issues/352#issuecomment-440380041) for maintainers of client libraries. This will make it easier for us to loop you into issues that may cause problems or necessitate changes in your client library.

If you could let us know the github usernames of all the active maintainers we can add them to the group and note

[2018-11-22 11:37] AliabbasMerchant commented on #140
Yes.
And what do we do with the repo name?? I suppose we leave it as it is...

[2018-11-22 12:29] daviddias commented on #140
@AliabbasMerchant it would be better to update it as well

[2018-11-22 13:35] AliabbasMerchant commented on #129
I am trying to solve this issue.
The timeout problem has been solved and the tests are running properly.
However, when I run `tox`, it halts at the `test_file_chunks` of multipart.py, even though I have not changed the `multipart.py` file.
Also, `tox -e codestyle` raises an `InvocationError` for flake8.exe

Note: I am using Windows10

[2018-11-22 14:04] daviddias commented on #140
Github is pretty good at redirecting when renaming happens :)

[2018-11-22 14:46] AliabbasMerchant commented on #140
Oh. Cool. I didn't know that.

[2018-11-22 15:22] alexander255 commented on #142
@mikeal: Thanks for the link to the newsletter. Subscribed!
As for the active maintainers of this library, that'd be: @alexander255 & @whereswaldon
Both of us are doing stuff on a minimal as-needed basis, so we're not really developers at the moment but we try to keep things working. :slightly_smiling_face:

[2018-11-22 15:32] alexander255 commented on #140
The more tricky thing will be renaming the Python library actually, since we'd either have to continue uploading it under both names or (again) deprecate the old one.

The best solution here is to use an “import redirect” to keep both versions working:

  * Upload a new version of the library under the new name
  * Create a totally new stub library with the same file structure as the current libra

[2018-11-22 15:56] alexander255 commented on #140
On the other hand there are some design issues I'd like to see resolved that would necessitate breaking the API a bit. Most of these could be kept backward-compatible using simple wrappers, so I think I'll use this chance to fix some stuff under the new name and write wrappers in a stub module as I mentioned above for back-compat. Basically I mean I'll take care of the compat issue myself, so you

[2018-11-26 17:29] mikeal commented on #142
Added to the team and to the table update PR :) https://github.com/ipfs/ipfs/pull/377/files#diff-04c6e90faac2675aa89e2176d2eec7d8

[2018-11-26 17:29] #142 closed

[2018-12-05 15:01] #104 closed

[2018-12-07 12:45] whereswaldon commented on #136
Resolved via #141

[2018-12-07 12:45] #136 closed

[2018-12-07 12:46] whereswaldon commented on #133
I think it's appropriate to raise them as exceptions.

[2018-12-07 12:47] whereswaldon commented on #132
@davinci26 Since that worked for you, I'm going to close this for now.

[2018-12-07 12:47] #132 closed

[2018-12-17 22:32] alexander255 commented on #133
Thank you! I cannot formally assign this to you on GitHub atm, but definitely fell free to work on this.

[2019-01-25 19:30] AuHau opened #150 "Default values of `Client`/`connect()` are not documented"
The #7 was reintroduced I guess by some refactoring. Passing None to `Client`/`connect()` will result in no default values used and a not much informative exception:
[code]

I am happy to provide refix, I am only not sure how to proceed because of the on-going renaming (#148). Should I wait until merged, target some specific branch or something else? Please let me know.

[2019-01-27 01:54] AuHau opened #151 "key_list returns different structure then documented"
The API documentation on `key_list()` shows returned structure as:
[code]

The real output is nested in dict with key `Keys` (example):
[code]

[2019-01-27 18:46] AuHau commented on #150
Okey! I will wait and follow the #149 and after completion then revisit.

Thanks for the reply!

[2019-01-29 22:38] lordcirth commented on #48
I intend to fix this issue.

[2019-01-30 00:34] alexander255 commented on #48
@lordcirth: Any help is appreciated! Please make sure that you develop against the [`py-ipfs-http-client`](https://github.com/ipfs/py-ipfs-api/tree/py-ipfs-http-client) branch however as that  is the code that will become the new `master` soonish. Thanks for the heads up and your help!

[2019-01-30 01:02] lordcirth commented on #48
Good to know, thanks!

On Tue., Jan. 29, 2019, 7:34 p.m. Alexander Schlarb <
notifications@github.com wrote:

[2019-01-30 21:01] ldub opened #154 "Basic auth support"
For people using a private IPFS cluster with a swarm key, it is also useful to have support for HTTP basic auth. Interaction with the gateway is easy, as there is no library and you can just use URLs like `https://user:pass@gatewayurl.com/ipfs/hash`. However, for using the IPFS API, this is not as simple.

Making `py-ipfs-api` support basic auth and is a useful and simple change that I'm willing t

[2019-02-02 21:30] lordcirth commented on #110
I believe this should be closed as a duplicate of #48.

[2019-02-02 23:42] lordcirth commented on #48
From the docs for tarfile.extractall [1]

`Never extract archives from untrusted sources without prior inspection. It is possible that files are created outside of path, e.g. members that have absolute filenames starting with "/" or filenames with two dots "..".`

This seems like something we ought to be concerned about?

[1] https://docs.python.org/2/library/tarfile.html#tarfile.TarFile.extractal

[2019-02-03 20:03] radfish commented on #135
Just FYI: in the py-ipfs-httpclient branch the link is broken due to the renaming:
https://ipfs.io/ipns/QmZ86ow1byeyhNRJEatWxGPJKcnQKG7s51MtbHdxxUddTH/Software/Python/ipfshttpclient/

[code]

When ipfshttclient becomes the main branch, please remember to pin the renamed docs directory.

[2019-02-04 03:39] lordcirth commented on #114
I believe #123 resolved this - should this issue be closed?

[2019-02-04 03:42] lordcirth commented on #94
Would this documentation be about IPFS, or just the use of this python API?

[2019-02-04 05:14] lordcirth commented on #82
I've started on this.

[2019-02-04 13:03] slandau3 commented on #114
Yep, this PR was merged awhile back. Please close

[2019-02-05 23:03] lordcirth commented on #82
@alexander255 Can you merge this? Not sure who to ping.

[2019-02-07 19:53] alexander255 commented on #135
@radfish: Yes, I haven't pushed any documentation with the new code yet, but will do once we release the first version.

[2019-02-09 01:37] AuHau opened #164 "Editorconfig - Python configuration?"
I noticed that @alexander255 added .editorconfig, which is very appreciated. Only I am a bit confused with the settings as they do not really match typical Python's configuration.

Here are my typical settings:
[code]

Should I create PR for it, or is there some reason why not to have this setting?

[2019-02-12 05:45] daviddias commented on #103
@alexander255 did you have any success with this? //cc @alanshaw

[2019-02-13 14:42] dentiny commented on #129
Have someone ever solved this problem? I uploaded a txt file and my friend tried to download it. It still took 20 minutes even we were in the same room!

[2019-02-13 23:07] alexander255 commented on #103
@daviddias: Never tried to be honest. Are there any recent events, that would make this worthwhile to investigate?

[2019-02-13 23:21] alexander255 commented on #48
@lordcirth: Didn't see your message yet. The tarfile is indeed assembled by the IPFS daemon, not part of some IPFS file.

It'd be still be good to guard against this since there is no guarantee that this library will be used with a trusted daemon. Maybe this can be done as part of #158? :wink:

[2019-02-13 23:24] alexander255 commented on #133
Fixed by the exception handling part in #166 and making the number of return values explicitly defined in #167

[2019-02-13 23:24] #133 closed

[2019-02-13 23:28] alexander255 commented on #164
This is intentional :wink:
I just happen to like it that way and I'm doing most of the work around here, so whatever.

Thanks for reaching out through!

[2019-02-13 23:28] #164 closed

[2019-02-13 23:29] alexander255 commented on #110
@lordcirth: Indeed, thanks for bumping!

[2019-02-13 23:29] #110 closed

[2019-02-13 23:30] alexander255 commented on #151
Fixed by #151. Thanks!

[2019-02-13 23:30] #151 closed

[2019-02-14 08:27] daviddias commented on #103
It should work first try, that’s what I was looking for :)

[2019-02-15 21:46] alexander255 commented on #150
As mentioned in #150 this won't be “fixed” by allowing `None`; rather we'll update the documentation to highlight that `ipfshttpclient.DEFAULT_{HOST,PORT,BASE}` are the respective default values.

[2019-02-15 21:54] alexander255 commented on #137
I don't get this error anymore with go-IPFS v0.4.18 – can somebody confirm that this is fixed?

[2019-02-15 21:57] alexander255 commented on #129
@dentiny: That has nothing to do with this issue. The timeout would only result in you getting a timeout error message instead of plain nothing, but the file wouldn't arrive more quickly because of that.

[2019-02-15 22:03] #113 closed

[2019-02-15 22:06] alexander255 commented on #111
This has been possible [for a long time](https://github.com/ipfs/py-ipfs-api/commit/9f0499aa721416afb50025c595886a188fa20d0f) using the `add_bytes` method. Closing.

[2019-02-15 22:06] #111 closed

[2019-02-15 22:13] alexander255 commented on #103
Hmm… but that result isn't really worth a lot without also running the test suite, figuring why stuff fails, implementing CI to ensure that things don't break unexpectedly…
I can run the test suite for you however and dump the results here if it is of any help.

Anyways using `ipfshttpclient.connect()` will almost definitely fail since js-IPFS's reported version likely doesn't match `>=0.4.3;<0.5.

[2019-02-15 22:17] ibnesayeed commented on #137
I can confirm that it is working fine with go-IPFS v0.4.18. This ticket can perhaps be closed now.

[code]

[2019-02-15 22:17] alexander255 commented on #85
This should be fixed by the new multipart code (9edc945088faf5df66cab1845bd2c87c5bc77ede), although I think the issue was already fixed before that.

[2019-02-15 22:17] #85 closed

[2019-02-15 22:24] ibnesayeed commented on #137
Tested in both Python 2 and 3 with success.

[2019-02-15 22:29] alexander255 commented on #73
I've looked at https://github.com/multiformats/py-multicodec (now existing multicodec implementation in Python) and it doesn't look like `encoding.py` at all. Leading me to believe that this was some kind of misunderstanding here. If anything, `encoding.py` (or rather the library written by @fredthomsen) seems to more closely resemble what https://github.com/ipld/py-ipld-dag would like to achieve

[2019-02-15 22:29] #73 closed

[2019-02-15 22:32] alexander255 commented on #137
Thank you! :+1:

[2019-02-15 22:32] #137 closed

[2019-02-15 23:39] lidel commented on #85
For anyone googling  `http: invalid Read on closed Body` and finding this, the upstream error will be fixed in go-ipfs v0.4.19: https://github.com/ipfs/go-ipfs/issues/5168

[2019-02-22 15:03] CoreSecX opened #171 "Decoding error"
Hi,

Do you have any idea, what cause this error?

[code]

The code:

[code]
If I use the api.add('2nd') code, the result is the same.

[2019-02-22 18:41] alexander255 commented on #171
Port 8080 is the port of the gateway, no? The error message basically says that the library expected the reply to be JSON, but it wasn't. You probably want to use `ipfsapi.connect('127.0.0.1', 5001)` instead to connect to the IPFS API service instead.

[2019-02-22 21:28] CoreSecX commented on #171
Thanks, will have another look.

On Fri, 22 Feb 2019, 18:41 Alexander Schlarb, <notifications@github.com>
wrote:

[2019-03-04 03:30] radfish opened #176 "release 0.4.3 not tagged"
Could you please add a tag for 0.4.3 (the release tags are used by distro packages to construct version strings, here's the one I made for Arch https://aur.archlinux.org/packages/python-ipfshttpclient-git/), also while at it, maybe also post it as a release on GH too. Thanks!

[2019-03-05 22:04] alexander255 commented on #176
Upps, I had tagged it on my machine but the tag wasn't pushed – should be available now. For official releases please refer to [PyPI](https://pypi.org/project/ipfsapi/#files). The sdist there is automatically generated by `flit` but should still work.
Thanks for the heads-up and distributing this library!

[2019-03-05 22:04] #176 closed

[2019-03-05 22:41] alexander255 opened #178 "Windows development and platform support"
As per the discussion in #169: There appear to be some grave issues when testing, and maybe also using, this library on Windows. While it probably never be our primary development target, support for this platform is imperative and shouldn't be lacking more than absolutely necessary.
Any help in testing and bug fixing would of course be greatly appreciated.

[2019-03-07 14:09] alexander255 commented on #59
I should mention that there is, and has been for a while, a [branch of mine](https://github.com/alexander255/py-ipfs-api/tree/async) with code to implement this.

[2019-04-10 22:46] mdmoreno commented on #129
What's the status on this topic? It seems like there's a branch with it finished, but it's not in master...
The unit test was ready if I'm not wrong so... Is there anything I could help with? or is it ready for release?

[2019-04-21 12:21] warkechetan opened #179 "Getting connectionpool error"
ipfsapi.connect(""localhost,5001)
ipfsapi.exceptions.ConnectionError: ConnectionError: HTTPConnectionPool(host='127.0.0.1', port=5000): Max retries exceeded with url: /api/v0/version?stream-channels=true (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x0000021FE5D1CCF8>: Failed to establish a new connection: [WinError 10061] No connection could be made because the targ

[2019-04-23 19:06] alexander255 commented on #179
Weird, are you sure the error message says `…, port=5000)…` and not `…, port=5001)…` and that you used `ipfsapi.connect("localhost", 5001)` not `ipfsapi.connect("localhost", 5000)`? Please confirm that this wasn't caused by a typo on your side or close the issue if it was.
(You should not need to provide a port at all for this common case, by the way, just plain `ipfsapi.connect()` should also wor

[2019-04-29 03:58] warkechetan commented on #179
I did that i removed "localhost", 5001 and used ipfsapi.connect() still giving error
ipfsapi.exceptions.ConnectionError: ConnectionError: HTTPConnectionPool(host='localhost', port=5001): Max retries exceeded with url: /api/v0/version?stream-channels=true (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x0000029A4B61BD68>: Failed to establish a new connection: [WinError

[2019-04-29 16:22] alexander255 commented on #179
Are you able to open http://localhost:5001/ (or whatever the target port is) in you web browser? It should result in a blank page with the words *404 page not found*. It you get a connection error in the web browser as well then the problem is elsewhere, “actively refused” sounds like a Firewall issue to me anyways.
Hopefully we can figure things out.

[2019-04-29 16:35] alexander255 opened #180 "Use MultiAddr for describing daemon location"
This would be an improvement over the current hostname + port since it allows copy-pasting the address from the IPFS daemon config. I've technically already started implementing this, but got “sidetracked” by fixing the requisite library (https://github.com/multiformats/py-multiaddr) used for this. However, all the technical debt on that library has now been cleared and it should almost be ready f

[2019-04-29 16:36] alexander255 commented on #129
@mdmoreno: The branch your referring to contains the follow-up library for `py-ipfs-api` that has been in the works for the last couple of months called `py-ipfs-http-client` and is almost done. Of course, I wanted to use the chance of a breaking change (a rename) to also do some other changes as well but it's taken a lot longer than expected (of course). I'll let you know if there is anything tha

[2019-04-29 18:29] warkechetan commented on #179
Thanks for help i dont used command ipfs daemon.It starts 5001 port.

[2019-04-29 18:29] #179 closed

[2019-05-08 03:40] Skyge commented on #179
@alexander255 I meet a similar problem,
`
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='ipfs.infura.io', port=5001): Max retries exceeded with url: /api/v0/version?stream-channels=true (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f2feb537b70>: Failed to establish a new connection: [Errno 111] Connection refused'))
`
It seems like I can no

[2019-05-08 21:48] alexander255 commented on #179
@Skyge: I may be wrong, but `ipfs.infura.io` provides an IPFS *gateway*, not the whole IPFS *API*. If so, then *py-ipfs-api*/*py-ipfs-http-client* will not help you as it is used for managing an IPFS instance you own, not just for downloading content (which it can do too, but that's more of a side-effect from exposing the daemon API).

In short:
  * If you only wish to *download* content from a pu

[2019-05-09 02:06] Skyge commented on #179
@alexander255 Yeah, you really make a clearly explaining, I mix up *IPFS gateway* and  *IPFS API*, I will have a try following your advice.

[2019-05-12 20:47] #150 closed

[2019-05-12 20:56] #180 closed

[2019-05-13 17:34] alexander255 commented on #140
@all: [`py-ipfs-http-client` v0.4.11](https://pypi.org/project/ipfshttpclient/) and [`py-ipfs-api` v0.4.4](https://pypi.org/project/ipfsapi/) have finally been released! (The later now being a compat wrapper around the former.) Thanks everybody who helped make this happen! :confetti_ball:

@daviddias: Please change the name of this repo to `py-ipfs-http-client`. And can we have an entry in the IPF

[2019-05-17 19:17] brianmcmichael commented on #154
+1 on this. This worked with `ipfsapi` but the new mutliaddr scheme doesn't support it and I'm trying to figure out how to connect.

[2019-05-17 22:47] ldub commented on #154
@brianmcmichael could you try https://github.com/ldub/py-ipfs-api/ ? I'm having an issue testing it against my own IPFS node because of some SSL issue, but you should be able to do the following as mentioned in the README:

[code]

[2019-05-21 12:39] njgheorghita opened #184 "Infura IPFS SSL certificate verification fails"
Hello!

I just updated to `ipfshttpclient` from `py-ipfs-api` and now all Infura IPFS requests are failing.

Infura IPFS multiaddr:
`self.base_uri = "/dns/ipfs.infura.io/tcp/5001/https"`
(I've also tried with `/dns4/`)

Connecting to Infura IPFS
[code]

Stack trace:
[code]

I'm not sure what's the cause for the SSL certificate verification failure.
There doesn't seem to be any problem with [infura

[2019-05-21 13:00] alexander255 commented on #184
Thanks for reporting this! Unfortunately it appears you already tested most of the things I may have thought of. :slightly_smiling_face:

Also, I just tested running `python3 -c "import ipfshttpclient; ipfshttpclient.connect('/dns/ipfs.infura.io/tcp/5001/https')"` and I see no errors unfortunately.
Does running `curl -L https://ipfs.infura.io:5001/api/v0/version` work for you?

If that works pleas

[2019-05-21 13:11] njgheorghita commented on #184
Thanks for the quick reply! Interestingly for me, `python3 -c "import ipfshttpclient; ipfshttpclient.connect('/dns/ipfs.infura.io/tcp/5001/https')"` still reports the same error, but there's no error for `curl -L https://ipfs.infura.io:5001/api/v0/version`.

But, after I made those changes, everything's working great!

[2019-05-21 13:16] njgheorghita commented on #184
Here's my output from `pip freeze` just in case it's helpful.
[code]

[2019-05-21 13:24] alexander255 commented on #184
Thanks! In the meantime I found that looks like an incompatibility with `urllib3==1.25.*`, but it's good to know that the suggested quick-fix works. I'll try to push a mitigation for this (either the suggested fix or something else) this evening.

[2019-05-21 13:25] njgheorghita commented on #184
Awesome, thanks so much @alexander255 !

[2019-05-21 14:16] alexander255 commented on #184
Fix is in the pipeline: #185

[2019-05-21 14:30] #184 closed

[2019-05-21 14:32] alexander255 commented on #184
I have pushed version 0.4.12 just now that should resolve this issue. Thanks for reporting this!

[2019-05-21 14:34] alexander255 opened #186 "Required Testing"
A random collection of things that we probably should have tests for but currently do not (to be extended whenever I notice something missing, feel free to comment your own ideas):

 * [ ] Integration: Connecting to HTTPS API Servers (cf #184)
 * [ ] Unit: Test invalid MultiAddr formats

[2019-05-21 14:36] alexander255 commented on #154
The TLS issue should be fixed (see #185), I'm still open to adding support for dedicated `username` and `password` parameters to the codebase btw. :wink:

[2019-05-23 20:44] alexander255 commented on #129
Update: `py-ipfs-http-client` has been released last week and includes this feature.

[2019-05-23 20:44] #129 closed

[2019-05-23 20:59] alexander255 commented on #135
The new `ipfs-http-client` library now has a different documentation link on its own IPNS ID (not on my machine's node one as previously). Previously it had been different because back when we published the first documentation snapshots, none-node-ID IPNS names weren't even a thing yet.

[2019-05-23 20:59] #135 closed

[2019-06-07 19:00] machawk1 opened #187 "Broken Connection on successive calls using add_bytes"
I am attempting to debug an issue wherein I am pushing the binary image data represented in Python byte string into IPFS using ipfshttpclient.

I have been able to distill this down to an example with two successive calls of `add_bytes` with large byte strings:

[code]
...produces:
[code]

Changing the above line to `bytes = bytearray(os.urandom(10))`, using `10` instead of `100000` does not produ

[2019-06-08 21:36] machawk1 commented on #187
For completeness, before executing the above Python, I started the IPFS daemon locally:

[code]

[2019-06-13 20:29] machawk1 commented on #187
This looks to have been introduced between ipfsapi 0.4.3 and 0.4.4.

With code (`ipfsapitest.py`):
[code]

[code]
[code]

...then updating to ipfsapi 0.4.4 with a fresh virtualenv (which seems to also install `ipfshttpclient`):

[code]

[code]

[2019-06-13 22:30] alexander255 commented on #187
Thanks you for this detailed analysis of the problem, unfortunately ipfsapi v0.4.3 and ipfsapi v0.4.4 (which is now a wrapper around ipfshttpclient) are really two different libraries. The versioning is somewhat deceiving here unfortunately, ipfshttpclient actually started with version 0.4.11 which is a lot closer to the truth.

If you have the time and knowledge, could you do a [`git bisect`](htt

[2019-06-13 22:33] alexander255 commented on #187
Sorry, I just noticed again that your originally did use `ipfshttpclient`, which is of course the way to go here – one less potential error source. :+1:
Unfortunately all that I said above of course applied to `ipfshttpclient` anyways, so nothing I suggested will change in practice I fear.

[2019-06-13 23:02] machawk1 commented on #187
@alexander255 Thanks for the acknowledgement. I encountered this issue in attempting to update https://github.com/oduwsdl/ipwb to the latest, refactored, renamed `ipfsapi` (`ipfshttpclient`). I iteratively tested every prior version of `ipfshttpclient` then onto `ipfsapi` until I encountered the release that contained the above behavior.

I am not familiar with `git bisect` usage but this might be

[2019-06-13 23:22] machawk1 commented on #187
Using `git bisect`, 9edc945088faf5df66cab1845bd2c87c5bc77ede appears to be the commit where the issue is first exhibited.

[2019-06-14 00:11] machawk1 commented on #187
`stream_bytes()`, which `add_bytes()` calls, differs between 9edc945088faf5df66cab1845bd2c87c5bc77ede, where `add_bytes()` first exhibited the above issue, and its parent commit 1b5b1c0911d32f963689ac04c2557a5dde7a17d8.

1b5b1c0911d32f963689ac04c2557a5dde7a17d8
[code]

9edc945088faf5df66cab1845bd2c87c5bc77ede
[code]

[2019-06-14 00:48] machawk1 commented on #187
Another finding, the headers in 9edc945088faf5df66cab1845bd2c87c5bc77ede contain "Connection: close" when in 1b5b1c0911d32f963689ac04c2557a5dde7a17d8 they do not:

9edc945088faf5df66cab1845bd2c87c5bc77ede
{'Content-Disposition': 'form-data; filename="bytes"', 'Content-Type': 'multipart/form-data; boundary="5f4d03ef9cd94920b38fd0401375e214"', 'Connection': 'close'}
{'Content-Disposition': 'form-dat

[2019-06-14 00:59] machawk1 commented on #187
https://github.com/ipfs/py-ipfs-api/blob/4891d7239d99d98a778873146f8cd27d10a7925b/ipfshttpclient/multipart.py#L141-L143

...seems to be the source of the header mentioned above. https://github.com/ipfs/go-ipfs/issues/5168 has since been closed. Removing this explicit Connection header specification fixes the problem on my initial testing.

[2019-06-14 01:31] machawk1 commented on #187
An optimistic update: I updated my go-ipfs to 0.4.21 and the original `BrokenPipeError: [Errno 32] Broken pipe` issue has disappeared. This whole issue may be moot if go-ipfs 0.4.21 is supported.

The README states that 0.4.20 is blacklisted but was the issue that caused it to be so resolved in 0.4.21, @alexander255? If so, we can proceed with migrating to ipfshttpclient with the insistence of a g

[2019-06-14 02:05] ibnesayeed commented on #187
Thanks @machawk1, if the new version of this library works well with the new version of the go-ipfs then we can move on.

[2019-06-16 13:41] alexander255 commented on #187
@machawk1: Thanks for your tremendously valuable research here! While, as @ibnesayeed found out, adding the header should not be a problem anymore, it's still an unnecessary performance penalty and I'm glad to here that this can be removed with go-IPFS v0.4.19+.

I will create a patch that removes the `Connection: close` flag for v0.4.19+ and would welcome your feedback on this.

The problem with

[2019-06-17 20:00] machawk1 commented on #187
@alexander255 What sort of testing would be required to ensure this module's full functionality with go-ipfs v0.4.21+? Do the issues that prevent the recommendation of v0.4.20 also exist in v0.4.21?

Given `add_bytes()` does not work reliably against v0.4.19, it might be good to move to a more current version of go-ipfs that has some bugs fixed, inclusive of the connection closing issue discussed

[2019-07-09 22:46] Stebalien commented on #140
Done.

[2019-07-09 22:50] alexander255 commented on #140
@Stebalien: Thank you! Can you also add @AliabbasMerchant to the team while your at it? 😀

[2019-07-11 18:32] batrlatom opened #188 "add_bytes and add_string"
Python 3.7
py-ipfs-http-client ... last version

I have a problem with adding images in base64 format. The content is not added as a whole. Is there any limit to the size of the string or byte array?

Original to be added:
![image](https://user-images.githubusercontent.com/11804368/61075735-f0594d00-a41a-11e9-89d2-5a36d3813b0d.png)

What was added (as an example, not exactly the same image):
![ima

[2019-07-11 21:07] alexander255 commented on #188
Thanks for the report! Which version of go-ipfs are you using? There were some known issues with some recent versions regarding this.

Please run the following commands and report their results for this:
 * `ipfs version` (go-ipfs version)
 * `python3 -c 'import ipfshttpclient; print(ipfshttpclient.__version__)'` (py-ipfs-http-client version)

Will help you after this if I can!

[2019-07-11 21:48] alexander255 commented on #187
Damn! Looks like I forgot the upload the changes I'm planning to land, somehow I thought them to already being released.

@machawk1: Please see and comment on #189. Thank you!

The issues in v0.4.20 were of a different nature, iirc  the daemon sent incomplete responses to several calls. I can look it up if you want to know more.

[2019-08-21 05:19] yashh opened #190 "add_bytes upload is broken for bigger files"
When uploading images to IPFS (0.4.21 and 0.4.22) we noticed that images are getting cropped / incomplete. As you can see here the image below has nt been uploaded completely.

![QmYqkegz1i9BCMHHKb9FwSyMNEBu6r7NK6csZhekbSmdVR](https://user-images.githubusercontent.com/22153/63404478-42857a80-c398-11e9-8c68-b4046cc384bf.jpg)

`client = ipfshttpclient.connect('/ip4/127.0.0.1/tcp/5001/http"', chunk_s

[2019-08-21 18:05] ntninja opened #191 "Uploading empty directory throws exception"
I just noticed that code such as the following cause an exception when it shouldn't. Need to fix this and add a test:

[code]

results in the following since `somenewdirectory` will be empty:

[code]

[2019-08-31 23:59] radfish opened #192 "tests involving adding and comparing hashes fail with go-ipfs 0.4.22"
In in 0.4.12 and in master 4891d72 the following tests are failing:

   test/functional/test_block.py::test_put_str FAILED
    test/functional/test_files.py::test_add_with_raw_leaves FAILED
    test/functional/test_files.py::test_nocopy_with_raw_leaves_file FAILED
    test/functional/test_files.py::test_nocopy_with_default_raw_leaves_file FAILED

[code]

[code]
Python 3.7.4
go-ipfs built

[2019-09-17 11:14] skliarie commented on #114
Does py-ipfs-http-client 0.4.3 has the pubsub API?
How can I use it? (found nothing on HTTP Client reference page)...

[2019-09-17 11:29] alexander255 commented on #140
All renaming changes are done by now, closing.

[2019-09-17 11:29] #140 closed

[2019-09-17 11:33] AliabbasMerchant commented on #140
I think I haven't been added to the team as yet. 😅

[2019-09-17 11:37] alexander255 commented on #114
Yes, pubsub is supported. Were you looking looking at the old py-ipfs-api 0.4.3 reference by any chance? If yes, which link did you follow to get there?

For the current reference, see here: https://ipfs.io/ipns/12D3KooWEqnTdgqHnkkwarSrJjeMP2ZJiADWLYADaNvUb6SQNyPF/docs/http_client_ref.html#ipfshttpclient.Client.pubsub

[2019-09-17 11:43] alexander255 commented on #140
I know :slightly_frowning_face:

With the core team being so preoccupied its hard to get them to do the organizational changes required.

@Stebalien @daviddias @archingbrain @whyrusleeping: Please add @AliabbasMerchant to the Python team. (First one to act will receive this cookie: :cookie:)

[2019-09-17 18:15] skliarie commented on #114
my mistake, it works, thank you for the link

[2019-09-17 21:04] alexander255 commented on #140
@daviddias: You'll get your cookie! But first: It doesn't seem like @AliabbasMerchant is showing up on the team's member list (https://github.com/orgs/ipfs/teams/repos-python/members), you'll have to finish the job first. :wink:

[2019-09-18 06:02] daviddias commented on #140
@AliabbasMerchant needs to accept first
<img width="1027" alt="image" src="https://user-images.githubusercontent.com/1211152/65117714-f22f2600-d9f2-11e9-9086-ef6f2b9707c0.png">

[2019-09-18 11:12] AliabbasMerchant commented on #140
@alexander255 @daviddias I have accepted the invitation. Thanks a lot! 😃

[2019-09-19 09:58] alexander255 commented on #140
@daviddias: Oh, I see! Here's a special cookie from me too:
![BIIIGGG COOKIEEEEE](https://www.coldstonecreamery.com/assets/img/products/cookies/sandwiches-perfectduet.jpg)

[2019-10-01 16:33] strdn opened #193 "ipfshttpclient pubsub subscribe ReadTimeoutError"
After a few minutes listening of the pubsub topic, the following ```ReadTimeoutError``` occurs:

[code]

[2019-11-18 18:00] WouterGlorieux commented on #188
I'm also experiencing similar behavior when trying to add a string or json object larger than 4096 characters via ipfshttpclient

i'm using:
Python 3.7
go-ipfs 0.4.22
ipfshttpclient 0.4.12

i also tried downgrading go-ipfs to earlier versions, but the behaviour was the same, string get truncated at 4096 characters

Here is a bit of code to reproduce the behaviour:

`

    import ipfshttpclient

[2019-11-18 18:17] WouterGlorieux commented on #188
Just saw there is another open issue regarding this same problem:
https://github.com/ipfs/py-ipfs-http-client/issues/190

it mentions setting chunk_size when connecting to the ipfs node
`client = ipfshttpclient.connect('/ip4/127.0.0.1/tcp/5001/http"', chunk_size=4096, session=True)`

I have tried it and setting chunk_size to a larger number does work.

But would this cause any side effects if I se

[2019-11-18 20:33] WouterGlorieux commented on #188
Found the problem and created a pull request:
https://github.com/ipfs/py-ipfs-http-client/pull/194

[2019-11-20 11:21] AliabbasMerchant opened #195 "Remove the py-ipfs-http-client branch"
@alexander255 Shall we drop the branch? (And possibly other not-needed branches too)

There are a few commit differences in master and py-ipfs-http-client branch, although

[2019-11-20 11:32] AliabbasMerchant commented on #190
This is similar to #188
Will be fixed by #194

[2019-11-20 11:32] #190 closed

[2019-11-20 22:59] mcilrain opened #196 "Adding files by URL (urlstore)"
An experimental IPFS feature allows for files to be added by a provided URL, as far as I can tell `py-ipfs-http-client` does not support this.

I've been using the internal `_client.request` method to make a call to `/urlstore/add` but that is being deprecated with the IPFS daemon giving me the following message: `The 'ipfs urlstore' command is deprecated, please use 'ipfs add --nocopy --cid-versi

[2020-02-01 18:30] jmgurney opened #197 "No support for unix domain sockets."
Newer versions of ipfs support API control via a Unix domain socket.  It would be nice if this was supported.

I'd expect:
[code]
to work instead of throwing an unsupported Multiaddr.

[2020-02-01 18:36] jmgurney opened #198 "Multiaddr not spelled consistently"
There is a mix between the spelling of MultiAddr and Multiaddr.  It looks like the later is suppose to canonical, and the former should be converted to the later.  It also looks like the former is only in comments, which per the previous issue makes finding the source of the error more difficult.

[2020-02-12 15:49] RubenKelevra commented on #196
Actually that's what's documented in the CLI --help for URLStore:

Is this not working for you? 🤔

[2020-02-16 15:19] ingokeck opened #199 "Version verification fails for ipfs daemon version 0.5.0"
Hi,
connecting to an ipfs daemon version 0.5.0 fails with the following error, even though the error message implies it should be supported:

The problem seems to be the '>=' in line 65 of ipfshttpclient/client/__init__.py:

		raise exceptions.VersionMismatch(version, minimum, maximum)

I believe a ">" there makes more sense, as "maximum" implies to to be part of the intervall.

[2020-02-18 03:05] #198 closed

[2020-02-18 04:57] AliabbasMerchant commented on #199
Maybe it was meant to be a python-like range(last value not considered)? 🤔
@alexander255 ?

[2020-02-20 21:17] Swixx commented on #195
@alexander255 @AliabbasMerchant can there be a general cleanup of this repo? Specifically, I think seeing stale issues from 2016 may dissuade potential contributors.

[2020-02-25 14:44] ingokeck commented on #199
Could be (and makes kind of sense to not support the next big-version), but in this case would very confusing as it clashes with common conventions/definitions in mathematics regarding intervals and maxima/minima.

[2020-02-26 14:47] RubenKelevra opened #201 "Releases on Github and pypi.org are outdated"

[2020-03-10 14:51] sona1111 commented on #201
Is development help needed?

[2020-03-14 00:25] alexander255 commented on #199
@AliabbasMerchant: Yes, it is supposed to be a Python-like range. Do the new go-ipfs versioning scheme the new maximum version should now be `"1.0.0"`.

@ingokeck: True, but we generally only know the next *non-supported* version, rather then the last supported version (it not being released yet and everything). A better error message may be in order however:

[2020-03-14 00:30] #42 closed

[2020-03-14 00:30] #39 closed

[2020-03-14 00:31] #60 closed

[2020-03-14 00:32] alexander255 commented on #82
This has been merged.

[2020-03-14 00:32] #82 closed

[2020-03-14 00:34] #171 closed

[2020-03-14 00:37] #188 closed

[2020-03-14 00:41] alexander255 commented on #196
Either way we need a test-case (and maybe also actual support code) for this.

[2020-03-14 00:47] alexander255 commented on #195
All branches other then `py-ipfs-api` and `master` can be removed yes. I've triaged many issues and closed several (some 2016 issues remain, that simply never have been fixed).

[2020-03-26 17:10] jacopo-massa opened #202 "optional parameters are not supported by some endpoints"
from [HTTP API](https://docs.ipfs.io/reference/api/http/)

`/api/v0/swarm/peers` can have some boolean arguments. Why can't I specify them when i invoke
`client.swarm.peers`?

[2020-04-02 20:08] alexander255 commented on #202
@jacopo-massa: The API endpoints change over time and the *py-ipfs-api-client* developers are mostly engaged in other projects right now, so it's simply a matter of nobody having added these attributes yet. That said, we would absolutely welcome some contributions in this area.

Unlike many other things adding missing attributes fortunately is dead-simple:

 1. Find the method that is missing some

[2020-04-04 00:22] jacopo-massa commented on #202
Thanks for the clarifying and exhaustive answer. I’ll try to help following your suggestions!

[2020-04-08 00:33] lidel opened #204 "Support for go-ipfs v0.5"
## POST-only HTTP API

go-ipfs 0.5  will block `GET` commands on the API port (https://github.com/ipfs/go-ipfs/pull/7097), requiring every  command (RPC) to be sent as HTTP `POST` request.
See API reference docs: https://docs.ipfs.io/reference/api/http/

**This is potentially a breaking change**,
double check if this project uses `POST` for every RPC call.

## Testing

Download links for v0.5-rc*

[2020-04-17 01:08] alexander255 commented on #204
Thanks for the heads-up! I'm in the process of finally releasing a version again (the last to support Python 2.7 & 3.4). After this I'll do some testing on this since it will not certainly need patches if it's now POST-only.

Do you know by any chance if similar disruptive changes are planned for future 0.x release (0.6, 0.7, …), because in that case I'll keep locking *py-ipfs-http-client* release

[2020-04-17 01:08] alexander255 commented on #204
Also, do you know why this repo was moved to ipfs-shipyard?

[2020-04-17 01:10] #154 closed

[2020-04-17 01:17] alexander255 commented on #195
… Done

[2020-04-17 01:17] #195 closed

[2020-04-17 11:09] alexander255 commented on #204
Support for this is now on `master`!

[2020-04-17 11:09] #204 closed

[2020-04-17 11:11] alexander255 commented on #201
0.4.13 has finally been released and is the last version supporting Python 2.7 and 3.4. Support for go-IPFS 0.5 is now on master, but not released yet. Cheers!

[2020-04-17 11:11] #201 closed

[2020-04-17 11:12] alexander255 commented on #199
I fixed the range reporting for 0.4.13. Current `master` also has support for go-IPFS 0.5 and hence doesn't error out on the version verification for that version anymore. Cheers!

[2020-04-17 11:12] #199 closed

[2020-04-17 11:14] alexander255 commented on #192
This has been fixed at some point during work on the latest release using the CID-aware comparison function implemented in `pytest_cid`. – Solved!

[2020-04-17 11:14] #192 closed

[2020-04-17 11:15] alexander255 commented on #187
Support for 0.4.19 and below was dropped, so this isn't an issue anymore.

[2020-04-17 11:15] #187 closed

[2020-04-18 16:13] alexander255 commented on #178
Windows testing is now enabled in the CI!

[2020-04-18 16:13] #178 closed

[2020-04-28 20:12] machawk1 opened #212 "client.id() is rejected when using go-ipfs beyond v0.4.23"
ipfshttpclient 0.4.13.2
Python 3.8
macOS 10.15.4

With go-ipfs v0.4.23
[code]

With go-ipfs 0.5.0-rc2 (supported per the README)
[code]

With go-ipfs 0.5.0 (current latest)
[code]

The daemons in the the last working version and the current seem to have similar output for the API on launch:

go-ipfs v0.5.0 daemon launch:
[code]

go-ipfs v0.4.23 daemon launch:
[code]

Hoping to figure this out for

[2020-04-28 21:01] ibnesayeed commented on #212
I think this will be fixed when #204 is released. I guess the issues is caused by https://github.com/ipfs/go-ipfs/pull/7097.

[2020-04-29 16:12] ibnesayeed commented on #204
Now that IPFS 0.5 is publicly released, do we have an ETA of when will the next version be released on PyPI with this fix? While we have added IPFS 0.5 support in IPWB using the master branch as a temporary fix as https://github.com/oduwsdl/ipwb/pull/641, we are waiting for this client (that we heavily rely on) to be updated before we release a new version.

[2020-04-29 16:23] leoherzog commented on #196
Perhaps a utility similar to the `js-ipfs` [`url-source`](https://github.com/ipfs/js-ipfs-utils/blob/master/src/files/url-source.js), that leverages Python's [`urllib.request`](https://docs.python.org/3/library/urllib.request.html#urllib.request.urlopen)?

[2020-05-02 15:36] alexander255 commented on #196
@leoherzog: Yeah, I tested this in the mean time and it is indeed the client that needs to download the remote resource before submitting it to the daemon. Actually downloading the files is not the problem here however, it mostly just hasn't been done (or even looked at until recently).

If you want to help with this, please let me know beforehand as the HTTP-library used internally will change in

[2020-05-04 12:57] alexander255 commented on #204
Thanks for the heads up! I'll try to get the changes planned for py-ipfs-api-client done by the end of this week!

[2020-05-06 15:32] ingokeck commented on #199
Thanks!

[2020-05-13 12:58] raminqaf opened #215 "ipfshttpclient.exceptions.StatusError in ipfshttpclient 0.4.13.2 and go-ipfs v0.5.1"
Hi there,
I updated my go-ipfs library to `v0.5.1` and upgraded the client form `0.4.12` to the latest version, which currently is `0.4.13.2`. After running my application I ran into this error message:
[code]
This error was not happening when I was using the `0.4.12` version of the client.
any ideas why this is happening?

[2020-05-14 08:48] tabishimran commented on #215
I have the same issue! Can't figure it out, I'm facing it while using the docker container from https://hub.docker.com/r/ipfs/go-ipfs/

[2020-05-14 09:31] Vshows commented on #215
I have the same issue!

[2020-05-14 10:03] tabishimran commented on #215
https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/5e3edf5f8e9e117738c77b5773c78d7b48942bc2/ipfshttpclient/http.py#L286

The error is being caused by this if statement which changes the 'POST' request to a 'HEAD' request, which is apparently not allowed.

It's a check for daemon workarounds, the daemon workaround gets added at
https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/ea0acc

[2020-05-16 11:39] alexander255 commented on #215
Please try with the master from the git repository, your issue is likely not present there. There is an upcoming 0.5.0 release pending, but not released yet which will have full compatibility with this version, as well as a few minor breaking changes/cleanups.

[2020-05-16 14:08] SaltyLeo commented on #215
I have the same issue!

[2020-05-16 22:06] ibnesayeed opened #216 "Use GitHub Workflows CI for testing"
I have created [IPFS Setup Action](https://github.com/marketplace/actions/ipfs-setup-action) to test [IPWB](https://github.com/oduwsdl/ipwb) with various combinations of different OSes, Python versions, and IPFS versions. I think this repo can benefit from the newly created GH Action.

[2020-05-19 19:00] alexander255 commented on #216
I somehow wish you had done that a couple of months ago, now that I figured out how to our entire testing cross-platform, switching is not all that appealing: https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/master/.travis.yml

But really what I care most about: What's the performance your solution? Can it compete with TravisCI premium: https://github.com/ipfs-shipyard/py-ipfs-http-client

[2020-05-19 19:44] ibnesayeed commented on #216
I honestly was thinking about doing it long time ago, but could not spare cycles earlier unfortunately. Your Travis build setup is the reason why I suggested it here when I looked at it the other day.

I have not used Travis Premium, so can't comment on that, but it is very comparable to their free plan for OSS. In fact, we are running both Travis CI and GH Workflows in our IPWB repo (and still di

[2020-05-22 09:27] Twodragon0 commented on #215
I have the same issue. It's working fine before change v0.5.1. After changed code, have this error.
AttributeError: module 'ipfshttpclient.utils' has no attribute 'deep_update'

[2020-05-22 15:57] cai-harry commented on #215
Same issue here!

[2020-05-22 20:38] momack2 commented on #204
Thanks @alexander255 - any update on that timeline?

[2020-05-26 08:37] kingofmidas opened #217 "ipfshttpclient (python) connection error"
**I have ipfshttpclient version 0.4.12 and ipfs demon version 0.4.23. Ipfs and python are in containers:**
[code]
**I try connect method:** `client = ipfshttpclient.connect("/dns/ipfs/tcp/5001")`
**but get error:**
(From postman)

(EDIT by @ntninja for readability:)

[2020-05-28 05:13] fubuloubu commented on #215
@alexander255 Is there anyway I can help on the 0.5.0 release that is pending? I really need this release, as there is a dependency that uses this library, so it's not as easy for me to pin to master as a workaround

[2020-05-28 15:48] mikeshultz commented on #215
@alexander255  I can confirm the initial reported error has been resolved in master.

[2020-05-29 22:55] alexander255 commented on #217
Are you connecting from the host to the container? If so, `/dns/localhost/tcp/5001` should work with you config. If you are connecting from one container to another try setting `container_name: "ipfs"` on the IPFS container and see if it helps (assuming that both are connected to the *knox-network*)

[2020-06-03 23:44] avatar-lavventura opened #218 "ipfshttpclient.exceptions.StatusError: HTTPError: 405 Client Error: Method Not Allowed for url: http+ip4://127.0.0.1:5001/api/v0/version?stream-channels=true"
ipfs version 0.5.1
ipfshttpclient-0.4.13.2

----

Ipfs is already running on the background using (`nohup ipfs daemon &`). Afterwards I tried to obtain already connected ipfs's client.

[code]
---

[code]

**=>** What may be the reason of this error? How could I fix it?

----------

Error log:

[code]

[2020-06-04 08:36] leex404 commented on #218
same issue. Don't know how to fix it !

[2020-06-06 15:58] mike7c2 commented on #118
I was looking for this functionality as well, I didn't think to look here before making the change and adding a test, please see:

https://github.com/ipfs-shipyard/py-ipfs-http-client/pull/219

[2020-06-09 10:13] mike7c2 commented on #218
I bumped into this too but it went away away updating my nodes. I think that the PIP version of ipfshttpclient is very out of date.

I'm currently using latest py-ipfs-http-client (actually a forked branch which has "diff" added: https://github.com/mike7c2/py-ipfs-http-client )

With go-ipfs `0.5.1` and it's all working fine

[2020-06-09 12:10] avatar-lavventura commented on #218
I am also using `ipfs version 0.5.1` but it still generates the same error

[2020-06-09 12:23] AliabbasMerchant commented on #218
@ntninja I think you will have to update the pip package

[2020-06-09 13:33] mike7c2 commented on #218
Note that I'm not running the version from PIP, I have cloned and built the latest, It works fine building from `5e3edf5f8e9e117738c77b5773c78d7b48942bc2` on the main repo.

[2020-06-10 06:08] ianwaldrop commented on #218
these requests work as posts, per the docs;

[2020-06-10 08:44] avatar-lavventura commented on #218
@AliabbasMerchant: I am using `pip 20.1.1` (I think it is the latest version).
@ianwaldrop: How can I make it use `POST` instead of `GET`?

[2020-06-10 08:54] AliabbasMerchant commented on #218
@avatar-lavventura I am not referring to the version of pip, but to the version of our package on pip.

[2020-06-16 16:25] fubuloubu opened #220 "Method for creating new directory object w/ set of links"
Given a list or iterable of `{"Hash": CID, "Name": str}` objects, it should be possible to create a new directory object using `object.put` without having to manually create the directory object in bytes, query the size of links, or recursively add single links to directories one at a time (creating intermediate objects). Not sure if I'm missing an API for how to do this, but it would be pretty he

[2020-06-18 17:58] ibnesayeed commented on #204
@ntninja is there anything specific that is holding a new release up? Do you need any help?

[2020-06-18 21:01] machawk1 commented on #204
@momack2 Are you aware of any movement on ipfshttpclient releasing a new version? We had to fork and publish to PyPI at https://pypi.org/project/ipfshttpclient4ipwb/ because PyPI does not allow direct pinning (e.g., to py-ipfs-http-client master branch) and we have needed a new version of this module pushed to PyPI for https://github.com/oduwsdl/ipwb. We are hoping to revert back to basing our cod

[2020-06-23 15:44] Vourhey opened #221 "ipfshttpclient doesn't support IPFS 0.6.0"
Recently [IPFS 0.6.0](https://github.com/ipfs/go-ipfs/releases/tag/v0.6.0) was released but ipfshttpclient doesn't support it

[code]

[2020-06-23 16:11] Vourhey commented on #221
Also I got the following exception

[code]

[2020-06-24 03:46] ibnesayeed commented on #221
We too are getting the VersionMismatch error in https://github.com/oduwsdl/ipwb/pull/670.

[2020-07-01 11:40] ntninja commented on #221
Fixed in 0.6.0

[2020-07-01 11:40] #221 closed

[2020-07-01 11:42] ntninja commented on #217
Closing for lack of response, feel free to reopen!

[2020-07-01 11:42] #217 closed

[2020-07-01 11:43] ntninja commented on #215
Fixed in 0.6.0

[2020-07-01 11:43] #215 closed

[2020-07-01 11:45] ntninja commented on #218
Should be fixed in 0.6.0

[2020-07-01 11:45] #218 closed

[2020-07-01 11:48] #212 closed

[2020-07-01 11:56] avatar-lavventura commented on #218
@ntninja Thank you for considering the issue and solving it.

[2020-07-06 09:43] avatar-lavventura opened #225 "Is it possible to check the given ipfs-hash is valid or not? [help, request]"
Based on the creating ipfs hash algorithm(https://ethereum.stackexchange.com/a/53233/4575 1), how can I check the given ipfs-hash is valid or not?

Is there any function under `py-ipfs-http-client` that I can accomplish it?

[2020-07-06 21:04] ntninja commented on #225
What do you mean by “valid”, exactly? If you want check whether a given text or binary string is syntactically a valid CID (multibase prefix + multicodec type + hash type + hash length + hash value), I'd recommend trying to parse it with the [`py-cid`](https://github.com/ipld/py-cid) library's `make_hash` function and checking whether you get an exception or not. If it returns successfully you als

[2020-07-06 21:06] avatar-lavventura commented on #225
Good catch I was able to check it with the following code:

[code]

[2020-07-11 23:26] SupraSummus opened #226 "`cid_version` parameter for client.add"
Could you please add support for `cid_version` parameter in `client.add` method? The option is available in ipfs CLI (https://docs.ipfs.io/reference/cli/#ipfs-add), but not thorough ipfs-http-client.

Thanks

[2020-07-12 19:06] hicetnunc2000 opened #227 "Method Not Allowed for url: http+ip4://127.0.0.1:5001"
I'd like to report an error that I got. I'm using
`ipfs version 0.6.0
Python 3.8.2
pip 20.0.2
`

code:
[code]
error:
[code]

I've managed to publish the very same file with https://pypi.org/project/ipfs-api/, which seems to be deprecated. Would like to know if there are any updates for such.

I've used pip install ipfshttpclient, maybe there's a newer version?

[2020-07-12 21:03] hicetnunc2000 commented on #227
It seems that by package was not up to date. Fixed it with `pip3 install git+https://github.com/ipfs-shipyard/py-ipfs-http-client.git`

[2020-07-12 21:03] #227 closed

[2020-07-12 21:06] ntninja commented on #227
What version of `ipfshttpclient` are you using? It should be 0.6.0 or it won't work.

This statements surprised me, turns out there is a “bug/feature/happenstance” in that old code makes adding objects work. :woman_astronaut:

Anyways, that library will never be updated again unless Amstocker (inactive main developers of this library) decides to push a release.

[2020-07-13 14:25] ntninja commented on #227
You shouldn't need to do that (anymore), installing the `0.6.0` [from PyPI](https://pypi.org/project/ipfshttpclient/) should suffice. :wink:

[2020-07-13 14:35] ntninja commented on #226
In general we prefer community contributions for these simple tasks. Hence, could you add it instead? You'd just need to add the relevant option to [`client.add`](https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/637adbd479283ae872d55e3b99bd87e87771db6b/ipfshttpclient/client/files.py#L234-L365) and map it to the respective [HTTP API parameter](https://docs.ipfs.io/reference/http/api/#api-v

[2020-07-13 14:59] SupraSummus commented on #226
Yep, I will take a shot at this.

[2020-07-13 17:45] ntninja commented on #226
Thanks for submitting PRs for small stuff like this, it really helps!

Do you have any short-term need for this to be released?

[2020-07-13 17:52] #225 closed

[2020-07-13 17:59] ntninja commented on #220
You should be able to do this like this:

[code]

Please close if this fixed your issue.

[2020-07-13 18:00] ntninja commented on #202
@jacopo-massa: Did you end up implementing anything?

[2020-07-13 18:20] fubuloubu commented on #220
I had a folder with 78k items in it, doing this iteratively with `add_link` seemed like a bad idea, but I suppose I could give it a try

[2020-07-13 18:22] SupraSummus commented on #226
Glad I could help.

This is not very urgent. I need this for more elegant test suite in [ipfs-api-mount](https://github.com/SupraSummus/ipfs-api-mount).

[2020-07-13 18:53] jacopo-massa commented on #202
Not yet, I worked on other project and used the HTTP API's for IPFS

[2020-07-13 21:40] SupraSummus commented on #191
Is this bug still there? I've added very similar test case recently: https://github.com/ipfs-shipyard/py-ipfs-http-client/commit/d008914de96467c66fb67ed6da6d45067a828be2#diff-3a766f2c5e48764d5428246e3da5c2c7R374. The only difference I see is that the dir has an absolute path.

[2020-07-13 22:05] ntninja commented on #191
Yeah it was fixed by me in 6228ec624f7b3845b00dd011237c07094b41b40e, there are even tests there that check the empty dir case.

I'll close this then! Thanks!

[2020-07-13 22:05] #191 closed

[2020-07-13 22:22] ntninja commented on #220
Yeah, it probably won't be hyper-fast. Unfortunately, there exists no HTTP API in IPFS to upload whole directories as lists of CIDs. (Since both `.add` and `.tar.add` [not implemented] requires one to include the file bodies to upload as well.) *Maybe* the relatively new [`.dag.import`](https://docs-beta.ipfs.io/reference/http/api/#api-v0-dag-import) could be used but then we'd need to generate CA

[2020-07-13 22:24] ntninja commented on #226
Ok. It may be anywhere between one and a couple of weeks before I release this then, I'm currently working on some big long-overdue tasks around here.

[2020-07-13 23:16] #226 closed

[2020-08-01 19:32] SupraSummus opened #230 "requests backend sets unused `session.timeout` attribute"
When constructing ipfs client you can pass `timeout=5`, and it will be added to requests Session object. Code responsible is around here:
https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/d008914de96467c66fb67ed6da6d45067a828be2/ipfshttpclient/http_requests.py#L78-L106

However, as far as I understand requests, `session.timeout` is never used. Timeout has to be passed for each request. (Or

[2020-08-13 20:53] #230 closed

[2020-08-13 20:55] ntninja commented on #230
Thank you for your detailed report! That was indeed a bug in the requests backend. :slightly_smiling_face:

[2020-08-14 14:56] ntninja commented on #117
Working on this. Hardest part turns out to be lack of Multiaddr support for proxies…

[2020-08-20 00:16] meyer1994 commented on #130
I've created a PR #231 that adds `dag` support to the client. Criticism is welcome :)

[2020-08-24 16:16] ntninja commented on #130
@meyer1994 has implemented this! :smiley_cat:

[2020-08-24 16:16] #130 closed

[2020-08-26 16:05] #197 closed

[2020-08-26 16:07] ntninja commented on #197
This has been implemented in #233 to be released shortly.

[2020-08-26 17:39] ntninja commented on #220
The recently added `.dag.put` would allow for this more easily… Except that it doesn't expose the required `format` parameter in the implementation I just merged two days ago :facepalm: .

(See its upstream docs for why: https://ipfs.io/ipns/docs.ipfs.io/reference/http/api/#api-v0-dag-put)

[2020-09-01 14:38] ntninja commented on #117
Blocked on https://github.com/multiformats/py-multiaddr/pull/59.

[2020-09-03 22:18] octavioamu opened #234 "version 0.6.1 failing with go-ipfs v0.6.0"
Im trying to run my tests and still getting
`E     ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.4.21' (not in range: 0.4.22 ≤ … < 0.7.0)`
ipfshttpclient 0.6.1
![image](https://user-images.githubusercontent.com/1358093/92178945-13626f80-ee1a-11ea-84f3-73dafef2e601.png)

go-ipfs 0.6.0
![image](https://user-images.githubusercontent.com/1358093/92178528-258fde00-ee19-11ea-8

[2020-09-04 01:12] thelostone-mc opened #235 "bug/info: TypeError: Plain typing.NoReturn is not valid as type argument"
#### Description

Travis setup seems to be failing after we got the latest version 0.6.1

![image](https://user-images.githubusercontent.com/5358146/92187692-18eea280-ee78-11ea-8fbc-efb6690c977c.png)

![image](https://user-images.githubusercontent.com/5358146/92187641-f8264d00-ee77-11ea-8bd8-7a2ddb171d45.png)

package being used:
https://github.com/gitcoinco/web/blob/master/requirements/base.txt#L

[2020-09-04 12:57] SupraSummus commented on #235
It is a [bug in python](https://bugs.python.org/issue34921). Newer pythons (>=3.7.2) should be okay with this.

[2020-09-04 13:27] SupraSummus commented on #235
@thelostone-mc in my travis config I fixed it this way: https://github.com/SupraSummus/ipfs-api-mount/commit/fb2d66d960c455a08327ecc68fadf3b55c8f5766

[2020-09-04 13:32] ntninja commented on #235
Thanks for figuring that out, I'd be curious to know why it didn't fail on our CI tests (also Travis).

@SupraSummus: Could you try setting `dist: bionic` in the Travis config and see if this makes the issue also disappear? For `dist: xenial` the `virtualenv` package was too old to run our tests, so I had ditched it some time ago.

[2020-09-05 14:46] SupraSummus commented on #235
Setting `dist: focal` resolves the issue. Haven't checked `dist: bionic`.

So it seems that under `dist: xenial` (default) "python 3.7" means "python 3.7.1". (Kinda strange, but I come from arch-linux-rolling-distro lands, so I might be skewed here.)

[2020-09-06 18:43] ntninja commented on #235
Well Ubuntu xenial [shipped with 3.5.1 by default](https://packages.ubuntu.com/xenial/python3), so if your problem domain includes “should run OOTB on Ubuntu xenial” the behaviour makes sense. If you don't care about that and only want to test the latest versions on each series… Not so much.

Anyways, I “fixed” this problem on master by explicitly banning incompatible Python subversions in the 3.5

[2020-09-06 18:43] #235 closed

[2020-09-07 06:21] crossoveranx opened #237 "IPNS Timing out Error"
I'm trying to publish a file using a local IPFS node using IPNS, however it consistently times out. I'm currently using the following as a short test:

[code]

Any ideas on how to publish an existing IPFS file to IPNS via this library?

[2020-09-07 12:34] ntninja commented on #237
As per [the documentation](http://ipfs.io/ipns/12D3KooWEqnTdgqHnkkwarSrJjeMP2ZJiADWLYADaNvUb6SQNyPF/docs/http_client_ref.html#the-api-client), please try setting the *timeout* parameter to some large value (such as 300 or 600 seconds) and see if it helps. IPNS can be slow and IPNS name publishing much more so.

[2020-09-11 06:52] crossoveranx commented on #237
Awesome, thanks for the info - set the timeout to 300 seconds. Still takes a long time, but it works!

[2020-09-11 06:52] #237 closed

[2020-09-23 16:16] machawk1 commented on #234
I am unable to replicate this with the same version of go-ipfs and ipfshttpclient. @octavioamu can you provide the code in your test that is raising this `VersionMismatch` exception in ipfshttpclient?

[2020-09-29 01:44] hicetnunc2000 opened #239 "ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.7.0' (not in range: 0.4.22 ≤ … < 0.7.0)"
I ran into this error from this code:
[code]
I'm using ```python 3.8.2, ipfshttpclient 0.6.1```.
even though it was working some days ago I'm wondering if there were any updates on go-ipfs/infura and if there is a way to adapt the package.

[2020-09-29 14:35] thelostone-mc opened #240 "bug: ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.7.0'"
#### Description

[ipfshttpclient==0.6.0](https://github.com/gitcoinco/web/blob/master/requirements/ci.txt#L2)
[image: ipfs/go-ipfs:v0.6.0](https://github.com/gitcoinco/web/blob/master/docker-compose.yml#L45
)

CI link: https://travis-ci.org/github/gitcoinco/web/builds/731291982

PR where I'm trying to get it to pass by upgrading ipfshttpclient -> 0.6.1
https://github.com/gitcoinco/web/pull/7561

[2020-09-29 14:35] thelostone-mc commented on #240
Looks similar to https://github.com/ipfs-shipyard/py-ipfs-http-client/issues/239

[2020-10-02 09:33] njgheorghita commented on #239
We're also blocked by this error in [web3.py](https://github.com/ethereum/web3.py/pull/1757). It appears to me that Infura recently updated their IPFS endpoint to version `7.0`, causing this error when you try to connect to their provider.

[2020-10-02 13:31] hicetnunc2000 commented on #239
I've managed to connect with ipfs with an old ipfs-js-client though lol in case anyone is under some urgency

[2020-10-07 18:22] marcgarreau commented on #239
:wave: @ntninja @meyer1994 is #241 an acceptable solution?

[2020-10-14 18:25] ntninja commented on #239
Sorry for the delay! Version 0.7.0a1 fixes this for the time being until all the changes for the 0.7.0 version have completed. (The 0.7.0 release may include some backward-incompatible changes from 0.7.0a1).

[2020-10-14 18:25] #239 closed

[2020-10-14 18:27] ntninja commented on #240
It's fixed in the 0.7.0a1 prerelease.

[2020-10-14 18:27] #240 closed

[2020-10-14 19:14] ntninja commented on #220
This should now be possible using `.dag.put("dag-pb")` on `0.7.0a1`. In particular this (untested) snippet should do want you want:

[code]

I'd be interested to know whether this actually works, so any feedback welcome there! Also note that you can add a cumulative size value to each file or directory by also setting the `"Size"` field in JSON. For making uploads faster, the input encoding can al

[2020-10-21 20:26] p4bl0- opened #243 "/api/v0/version is not whitelisted by some public endpoints"
Hello :),

The `connect` function of the `ipfshttpclient` module makes a request to `/api/v0/version` which fails with a HTTP 403 error on some IPFS API endpoints which do not whitelist access to `/api/v0/version`.

This prevent the use of py-ipfs-http-client with these endpoints.

It seems the JavaScript and Go IPFS HTTP library do not make this request, so it is probably not mandatory in the pro

[2020-10-21 21:43] ntninja commented on #243
Genuine Question: How would your script know the version number if not by querying the endpoint when connecting to such a service?

There is no specific sequence of requests required by the protocol at all, so you are right on that. However `version` is supposed to exist even in the read-only protocol variant and `py-ipfs-http-client` simply expects that feature to present as it should be, so the

[2020-10-22 14:29] p4bl0- commented on #243
I don't know, I suppose I could ask the API provider. But it is not very robust indeed.

Okay, I will do that.

Thanks, I will try that meanwhile.

[2020-10-22 14:39] ntninja commented on #243
Thanks! I'll close this issue in the meantime as it's technically not our fault. But please, do report your findings once you get a reply!

[2020-10-22 14:39] #243 closed

[2020-10-24 06:49] johnxx opened #244 "Current documentation seems to be unavailable?"
I can't seem to get the docs to load either via the ipfs.io gateway or directly from my go-ipfs node using `ipfs resolve /ipns/12D3KooWEqnTdgqHnkkwarSrJjeMP2ZJiADWLYADaNvUb6SQNyPF/docs/`. Please let me know if there's some other debugging information I could add to help track this down.

[2020-11-08 14:22] zinootje opened #245 "client.add() stuck or to slow"
i have a directory Data which looks like this:
Data/
├─ subfolder/
│  ├─ B.html x 5000
├─ A.html
with A about 4 mb and 5000 files B each 4kb large.

when i add it with the command line (ipfs add .\Data\ -r) it takes about 10 seconds to add.
when i try to add it  with you libary (client.add("Data",recursive=True))  it is still running after 5 minutes.
running 	go-ipfs v0.7.0 localy on a windows hos

[2020-11-09 07:04] sohansoharab commented on #199
![image](https://user-images.githubusercontent.com/43113731/98509725-eacc7b00-228b-11eb-9dc7-a86530f1624d.png)
i dont know i'm getting the same problem again after updating ipfs, then I tried go-verion but still the same for me

[2020-11-10 09:50] ntninja commented on #199
@sohansoharab: Try installing `ipfshttpclient==0.7.0a1`, instead of stable version to fix this.

[2020-11-12 22:55] crzypatchwork commented on #234
same running 0.8.0

[2020-11-21 06:53] sohansoharab commented on #218
Can you please provide a good documentation link on `ipfshttpclient`?
[https://ipfs.io/ipns/12D3KooWEqnTdgqHnkkwarSrJjeMP2ZJiADWLYADaNvUb6SQNyPF/docs/](url) is not working . Please provide it ... it would be so much helpful
@ntninja

[2020-11-21 13:00] zinootje commented on #245
i think i found the cause , because go-ipfs sends the hash result immediately but the python http.client doesn't read the socket until all data is send it get stuck with a  tcpzerowindow. This is only o probleme with a lot of files presumably because only then ipfs-go sends more data than the socket buffer

[2020-12-02 12:59] ntninja commented on #245
Thank you! However, I do not believe this will be solvable using the current requests backend without resorting to bad hacks.

Will reconsider this once the new HTTPx backend is finally released.

[2020-12-04 14:38] zinootje commented on #245
Your right i solved for now with some bad hacks , monky patching the request libary to read the socket every time after sending a chunk. Should a bug be filled for this with requests ?

[2020-12-08 04:20] iosifpeterfi opened #246 "swarm.connect() returns failed to parse multiaddr "": empty multiaddr"
py-ipfs-http-client = 0.6.1
ipfs = 0.6.0

It appears the arguments are not allocated properly.

client/swarm.py:

                args = (str(address), *(str(a) for a in address))
                return self._client.request('/swarm/disconnect', args, decoder='json', **kwargs)

This builds an URL like:  http+ip4://127.0.0.1:5001/api/v0/swarm/connect?stream-channels=true&arg=%2Fip4%2FXX.XX.XX.XX%2Ft

[2020-12-10 12:31] lidel commented on #246
Pretty sure it is a bug: each extra argument is just a single character of multiaddr.

[2020-12-17 21:05] #202 closed

[2020-12-21 13:52] ntninja commented on #246
Yes, that's a bug the second part should refer to `addresses`, not `address`!

[2020-12-25 22:42] ntninja commented on #244
This should have been resolved some time between your issue and now. Hopefully it stays that way for some time. Thanks for the report and sorry for the general slowness of responses!

[2020-12-26 00:18] johnxx commented on #244
No worries on the late response. I know how life gets in the way. I'm just glad to see you're still checking in since I've started using this for small project I'm working on. :) Anyways, loading the docs now works for me through the gateway and directly via my local IPFS node, so I think the issue can be closed.

[2020-12-26 21:00] ntninja commented on #244
Thank you for the kind words! There is actually a large feature (async & typing) in the works right now, but could be anywhere between days and weeks depending on how the timing plays out. Code is pretty much done but I haven't figured out how to do proper testing and docs yet. I don't think I'll be leaving too soon, no worries. ;-)

[2020-12-26 21:00] #244 closed

[2021-01-13 15:55] rounin-rp opened #247 "ipfshttpclient.connect() producing an error"
when I try ipfshttpclient.connect() it gives me the following error :

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/dexer/anaconda3/envs/IPFS/lib/python3.7/site-packages/ipfshttpclient/client/__init__.py", line 119, in connect
    assert_version(client.apply_workarounds()["Version"])
  File "/home/dexer/anaconda3/envs/IPFS/lib/python3.7/site-packages/ipfsh

[2021-01-18 04:36] driemworks commented on #247
I had the same issue. The connection went through succesfully after installing this version: https://pypi.org/project/ipfshttpclient/0.7.0a1/

[2021-01-18 13:43] rounin-rp commented on #247
Thanks man. It works. You're a life saver

[2021-01-18 13:43] #247 closed

[2021-02-04 23:21] kovan opened #248 "pip package doesn't work with latest ipfs daemon"
The version of this package in pip repository is 0.6.1, which doesn't work with latest official ipfs release:

`
ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.7.0' (not in range: 0.4.22 ≤ … < 0.7.0)`

$ ipfs --version
`ipfs version 0.7.0`

If I install from source it does work. New release needed?

[2021-02-14 08:37] ElberQiao commented on #218
I am stiil stuck by this problem with IPFShttpclient 0.6.0
I use the postman to test the POST method for the same request and it works out fine, but there is no args to specify the method using .connect()...
Is there any alternative way?

[2021-02-20 21:43] andrewjaanuu commented on #248
+1

[2021-02-20 21:45] andrewchen5678 commented on #248
+1

[2021-03-03 07:27] Narendhraprasth opened #250 "version mismatch"
Unsupported daemon version '0.8.0' (not in range: 0.4.23 ≤ … < 0.8.0)

always some errors like this does happen can anyone help me ? i kind of tried the irc freenode but it doesn't work at all

[2021-03-07 11:55] SupraSummus commented on #248
You can install pre release using `pip install --pre ipfshttpclient==0.7.0a1`. It supports go-ipfs 0.7.x but not go-ipfs 0.8.x.

@ntninja could you please push a non-pre release? Or are there any blockers?

[2021-03-15 10:02] veqtor commented on #248
Ridiculous, latest IPFS is 0.8.0

[2021-03-15 10:14] veqtor opened #251 "Not maintained?"
Very strange that IPFS isn't maintaining it's python API...

[2021-03-25 00:59] marcusbeckerman commented on #250
I went into the package folder and opened `client/__init__.py` and changed the `VERSION_MAXIMUM` to  `"0.8.1"` on line 19, I haven't encountered any errors yet. Hopefully devs can push an update to officially support 0.8.0 soon.

[2021-03-30 14:45] tanevanwifferen opened #252 "V0.8.0 support?"
Can we just bump the required ipfs daemon version?

[2021-03-30 21:44] ntninja commented on #248
Well, this one is fixed and next one is already open…

[2021-03-30 21:44] #248 closed

[2021-03-30 21:45] ntninja commented on #251
This is a community project, not done by Protocol Labs. Your welcome to contribute if you want stuff faster.

[2021-03-30 21:45] #251 closed

[2021-03-30 22:00] ntninja commented on #252
I'm aiming to commit a huge set of changes before releasing 0.8 (again, its been delayed several times already). Please ping me in a week if you haven't heard anything from me before that.

[2021-03-30 22:02] ntninja commented on #252
In general upgrading to a new go-IPFS works something like this (but do this yet):

  1. Update the minimum and maximum version in `ipfshttpclient/client/__init__.py` (next after 0.4.23 was 0.5.0)
  2. Update `.travis.yml` with matching go-ipfs versions for testing (both number and sha512 hash)
  3. Update `README.md` with matching version numbers in the note before the table of contents
  4. Open

[2021-03-31 09:04] dokterbob opened #254 "Text editor sanity"
I am not going be subtle about this. *Please* **Convert your tabs to spaces.** **Remove trailing whitespace.**

It is *really* a royal pain in the behind to have to manually fix whitespace differences in GIT and it is making in needlessly annoying for people to contribute.

The code here is quite nice, it is a real pity that these basic standards such as [tabs vs. spaces](https://www.python.org/de

[2021-03-31 09:12] dokterbob commented on #252
Hey all, I'd like to strongly suggest to change `VersionMismatch` from an Exception into a Warning, allowing users to use whatever version they'd like. I would consider the current behaviour 'broken by design' from a user perspective; most IPFS behaviour doesn't change between versions but the current behaviour ensures that it still breaks and that seems unnecessary to me.

Of course having full o

[2021-03-31 09:13] dokterbob opened #255 "Unbreak the mypy tests"
Making it easier to make (for contributors) and accept (for maintainers) contributions.

[2021-03-31 09:15] dokterbob opened #256 "Document how to run tests locally"
As a contributor, I was unable to successfully run the tests locally. It would be great to have a few lines in the README on how to do this, without having to plough through or know much about the actual tooling to use.

Note that in the case of the more likely contributions, it would make most sense to be able to run a single pass of the tests on whatever locally installed Python, as to have a qu

[2021-03-31 09:16] dokterbob commented on #256
Specifically:

1. A single command to install test dependencies `pip install tox` (or whatever is required)
2. A single command to run the tests, e.g. `tox`

Obviously, I would not be writing this unless I would have certainty that the above commands are valid. ;)

[2021-03-31 19:50] ntninja commented on #256
True, true. I'll add that to README!

It's `tox -e py3` for just the tests, but `tox` (without anything) works too. However the test suite requires the go-IPFS `ipfs` binary to be in `${PATH}` or the integration test suit will be skipped. Could be that it just fails altogether though, I never actually tried running it like this.

[2021-03-31 20:13] ntninja commented on #254
*General notes about tabs*: IMHO tabs are quite superior in that they make it possible to choose a suitable amount of indentation based on individual and context-specific needs: It's very convenient for me to use 2 spaces-per-tab in the diff viewer when merging while using 3 or 4 spaces-per-tab for regular editing. For JavaScript I know that its common to use 2 spaces-per-tab there and its just to

[2021-03-31 20:15] ntninja commented on #255
mypy stuff breaks with like every second update, but it should be fixed again I agree.

[2021-03-31 20:16] ntninja commented on #255
Want to delay this until after 0.8 since it's likely a lot of work.

[2021-03-31 20:19] ntninja commented on #252
I agree with this nowadays. Back in the 0.4.x days the breakage thing was pretty bad, but it's been a while and things seem to have settled down. Thank you for the suggestion!

[2021-04-04 20:38] c0llab0rat0r opened #258 "Python 3.5 is past EOL; Drop Support"
Drop support for Python 3.5 by raising the minimum version to 3.6 (EOL this year) or 3.7 (EOL 2023).

This will make fixing the typing and type linting easier.

The code base currently has syntax that is not valid in 3.5, such as this at https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/0.7.0/ipfshttpclient/http_httpx.py#L41

    def map_args_to_httpx(
        *,
        auth: auth_t = Non

[2021-04-04 21:19] c0llab0rat0r commented on #255
This will be significantly less work if the minimum Python version is raised to 3.7. https://github.com/ipfs-shipyard/py-ipfs-http-client/issues/258

[2021-04-05 02:44] c0llab0rat0r commented on #258
If #260 is merged, it would resolve this issue.

[2021-04-05 02:44] c0llab0rat0r commented on #255
If #257 and #260 are merged, it would resolve this issue.

[2021-04-05 18:22] ntninja commented on #258
The post-EOL compatibility with Python 3.5 is intentional since this project pledged support for Ubuntu 16.04LTS for servers. That will be EOL the end of this month, so dropping 3.5 is OK. Support for 3.6 is still necessary – in general this library does intend to be appealing to a large audience, so premature deprecation is a no-go.

The quoted piece of source code is not used in Python 3.5 btw,

[2021-04-09 00:01] c0llab0rat0r commented on #256
This being the case, it would also be helpful to have instructions on how to install `go-IPFS`

[2021-04-09 18:20] c0llab0rat0r commented on #255
@ntninja with the merge of #261, I believe this is now resolved, though there is more work to do to remove type hint warning suppression.

[2021-04-09 19:03] ntninja commented on #256
I've added a section to the README that should explain this essential process: https://github.com/ipfs-shipyard/py-ipfs-http-client#setting-up-a-local-development-environment

Feedback? Anything that should be expended upon?

[2021-04-09 19:44] ntninja commented on #255
Yes it can be better or course, but it a much better situation than what we started out with thanks to you!

[2021-04-09 19:44] #255 closed

[2021-04-09 19:45] ntninja commented on #258
This you have fixed as well now!

[2021-04-09 19:45] #258 closed

[2021-04-10 17:52] c0llab0rat0r commented on #256
Their own documentation has a defect, this doesn't write the file they're expecting :rofl:

`wget https://dist.ipfs.io/go-ipfs/v0.8.0/go-ipfs_v0.8.0_windows-amd64.zip -Outfile go-ipfs_v0.8.0.zip`

At https://docs.ipfs.io/install/command-line/

[2021-04-10 19:00] c0llab0rat0r commented on #256
Feedback in #270.

https://pypi.org/project/pytest-docker/ is a potential future improvement on this.

[2021-04-15 10:19] dokterbob commented on #256
Just a link to the go-ipfs documentation on this should suffice, and of course mentioning that it is a requirement for testing.

[2021-04-21 11:33] sigma67 opened #273 "README/PyPI IPNS links are broken"
The following IPNS links in README and on the PyPI homepage currrently yield HTTP 500 on ipfs.io:

- https://ipfs.io/ipns/12D3KooWEqnTdgqHnkkwarSrJjeMP2ZJiADWLYADaNvUb6SQNyPF/
- https://ipfs.io/ipns/12D3KooWEqnTdgqHnkkwarSrJjeMP2ZJiADWLYADaNvUb6SQNyPF/docs/

As a new user to the project this makes it a bit difficult to find the actual project homepage, especially since pypi name and GitHub name ar

[2021-04-21 13:35] tanevanwifferen commented on #252
@ntninja any update? we're doing manual backups since the latest ipfs release...

[2021-04-23 17:53] c0llab0rat0r commented on #252
@ntninja,

Also interested in a `0.8.0` release. Thanks.

[2021-04-26 11:23] 0kalekale commented on #252
lads when are we getting v0.8.0 support

[2021-04-29 02:00] c0llab0rat0r commented on #252
@ntninja has put a lot of time and effort into this great library.

With the interest and activity on it, I wonder if it needs an additional owner/shepherd.

[2021-04-30 06:35] iskanderandrews opened #275 "VersionMismatch: Unsupported daemon version '0.8.0' (not in range: 0.4.23 ≤ … < 0.8.0)"
Hi,
I'm trying to connect with local ipfs daemon, but getting this error.
`ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.8.0' (not in range: 0.4.23 ≤ … < 0.8.0)`

[code]

[code]

[code]

[code]

- OS information:
[code]
- _go-ipfs_:
`ipfs version 0.8.0`

- Python:
`Python 3.9.4`

- pip
`pip 21.1`

Thanks for help!

[2021-04-30 10:47] iskanderandrews commented on #275
I downgraded `ipfs` to `v0.7.0` and it worked successfully.

[2021-04-30 14:30] c0llab0rat0r commented on #275
The current library doesn't support v0.8.0 yet. #274 needs to get resolved first.

v8 support was first mentioned in issue #252.

[2021-05-01 20:10] iskanderandrews commented on #275
Thanks so much for your response.

I opened this PR #276 for updating the README documentation until this issue #274 gets resolved.

[2021-05-01 20:28] ntninja commented on #252
Somebody want to become co-maintainer? It appears I'm not as enthusiastic about maintaining this as I was when I took this over 5 years ago…

And 0.8.0 isn't the first release that has been greatly delayed for no strong reason either!

[2021-05-01 20:31] ntninja opened #277 "Move MatcherSpecInvalidError into `ipfshttpclient/exceptions.py`"
https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/09cae7672a39ca3ff991684c1b31cfe7875174c3/ipfshttpclient/filescanner.py#L416-L420

We currently expose all possible exceptions in the `ipfshttpclient/exceptions.py` module. Ideally this one should be moved there to and added into the existing exception hierarchy (inheriting from both some exception there and `TypeError`, I think).

[2021-05-01 20:33] ntninja commented on #252
After reviewing recent code I found minor issue #277 that should be fixed before that becomes part of the API in its current form. That's all that is required before actually releasing.

[2021-05-01 20:40] c0llab0rat0r commented on #252
I'm game to be a co-maintainer. It would be helpful to get any documentation gaps filled in related to release vetting (e.g. any manual steps taken above and beyond CI to ensure the library is ready to release) and related to the release/publish process.

There was also mention of some external commitments related to versions of Python etc. the library must support. It would be helpful to get more

[2021-05-03 22:57] ntninja commented on #252
I was hoping you'd say (something like) that!

There a none, CI is fairly comprehensive as it is.

That is documented in https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/master/docs/releasing.md . Wrote that a couple of years ago, but I kept updating it, so it should be fairly up-to-date.

I've kinda established some rules on this over time, they currently go something like this:

  * The

[2021-05-04 21:19] c0llab0rat0r commented on #252
@ntninja I've created a PyPi account with the same name, c0llab0rat0r.

[2021-05-06 21:00] #277 closed

[2021-05-06 21:07] ntninja commented on #252
@c0llab0rat0r: Added you on PyPI.

[2021-05-08 20:40] 0xisk opened #279 "IPFS hash link keep loading without not responding"
Hi,
I'm trying to add many JSON files in IPFS using the following API:
`client.add('item.json')`
And here is the output of the `item.json` file
`{"name":"Musk","description":"description","image":"https://ipfs.io/ipfs/QmP8ZD7YrSyPWaU1UnTD9jFR6rwokncCCd3WK7f7eSJi11/0003.jpeg"}`

The returned hash for this `item.json` works successfully, but when I'm trying to add another JSON file that's slightly d

[2021-05-08 20:57] ntninja commented on #252
Wanna try doing the 0.8 release?

[2021-05-11 15:11] c0llab0rat0r commented on #273
@ntninja,

What are the steps for regenerating the documentation?

[2021-05-11 15:16] c0llab0rat0r commented on #279
Do you have a script that can reproduce this?

This happens if your IPFS server is the only server with the requested content, but port `4001` cannot be reached from the public Internet. For example, if you run IPFS on your desktop or laptop, and do not have port 4001 forwarded on your network from the outside all the way to your server, your server is unreachable to HTTP proxies (e.g. ipfs.io) an

[2021-05-13 09:26] rounin-rp commented on #252
Hello guys. I am a newbie in ipfs so I don't understand much. Just need to ask when can we expect 0.8 support. I have a project that I need to submit on 22nd May.
Or if you could tell me how to run v0.7 that would be life saving help
Thanks

[2021-05-13 15:00] c0llab0rat0r commented on #252
See #280

[2021-05-13 15:04] c0llab0rat0r commented on #252
@dokterbob do you have any interest in helping with moderation/admin of this library?

cc @ntninja

[2021-05-15 23:25] ntninja commented on #273
I'll do that for now, once the package is published. It requires an IPNS private key and someplace to host stuff, so I can't just hand that over unfortunately. (Docs on how it is done are in `docs/releasing.md`.)

[2021-05-18 08:43] dokterbob commented on #252
@c0llab0rat0r Not really, I don't have the time for it, but I am very happy and willing to make a 0.7.1 patch release so we finally can get this d#&$# thing to run! I've been waiting many months now just to get my package out.

[2021-05-18 08:45] dokterbob commented on #252
That is to say, I might be willing to support release engineering on a one-off basis. In addition, I'd be willing to create a `RELENG.md` document with clear release instructions.

[2021-05-18 21:49] c0llab0rat0r commented on #252
Version `0.8.0a1` has been published to PyPi. Version `0.8.0a2` will include some documentation fixes but no functional changes.

[2021-05-18 21:50] c0llab0rat0r commented on #234
Version `0.8.0a1` has been published to PyPi.

[2021-05-18 21:51] c0llab0rat0r commented on #275
Version `0.8.0a1` has been published to PyPi.

[2021-05-18 21:52] c0llab0rat0r commented on #250
Version `0.8.0a1` has been published to PyPi.

[2021-05-19 00:14] c0llab0rat0r commented on #58
Necro post - raising the dead

Since #63 is complete, and we have a script at `docs/publish.py` to generate and publish documentation to IPFS, all that would remain to automate it would be to identify a target server, secure the target server, and then configure the build (e.g. `.travis.yml`) with information about how to connect to the target server.

_Public values_
* Server name
* IPNS public k

[2021-05-19 03:47] #275 closed

[2021-05-20 19:41] ntninja commented on #275
Thank you :grinning:

[2021-05-20 19:46] ntninja commented on #58
Weeeeeeell, the docs kinda lie on how the documentation is *actually* deployed. I have used ipfs-cluster for this for years and I think that could probably we run as part of Travis CI (or any other CI/CD solution).

I also have the server running already (https://ninetailed.ninja/ is an IPFS website).

Setting that stuff up is non-trivial though and I never considered it worth my time, so here we

[2021-05-26 18:56] avatar-lavventura opened #282 "ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.8.0' (not in range: 0.4.23 ≤ … < 0.8.0)"
How could I solve `ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.8.0' (not in range: 0.4.23 ≤ … < 0.8.0)` error? What may be the reason of this error?

[code]

----------

[code]

Can we use `py-ipfs-http-client` along with `ipfs version v0.8.0`?

[2021-05-27 20:10] ntninja commented on #282
It does talk about the go-IPFS daemon version, yes. :slightly_smiling_face:

For now just install the preview version and hope we get to release a proper version soon: `pip install ipfshttpclient==0.8.0a1` !

[2021-05-27 23:43] avatar-lavventura commented on #282
Thanks. Is it also recommended to install the master repo using `pip install git+https://github.com/ipfs-shipyard/py-ipfs-http-client` or should I stick with `0.8.0a1`?

[2021-05-28 03:49] iskanderandrews commented on #279
Thanks so much for your helping,

Yes, I have, here is a simple Py script for reading (10,000 images) and uploading them to IPFS. Then doing some data collections in JSON files (10,000 JSON files) and upload them to IPFS. At the end writing all the IPFS hashes in files.

[code]

And here is the output of IPFS daemon:

[code]
Here is the output of running `sudo lsof -i:4001` to check what's running

[2021-05-29 05:14] c0llab0rat0r opened #283 "Upload on SSL - intermittent hang"
When using `docs/publish.py` to publish to an IPFS server that is protected by SSL using Nginx as a reverse-proxy, I've noticed numerous instances of the script getting stuck waiting on

  File "/usr/lib/python3.8/ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)

It fails more often than it succeeds. It's not clear to me if this is an issue with the underlying SSL library (see

[2021-05-29 05:38] c0llab0rat0r commented on #283
May be related to #245

[2021-05-29 05:39] c0llab0rat0r commented on #245
@zinootje,

Do you still have your monkey patch? Would you be able to share it here?

[2021-05-30 14:18] ntninja commented on #283
Does this also happen when you run it with `PY_IPFS_HTTP_CLIENT_PREFER_HTTPX=y`?

[2021-05-30 17:43] c0llab0rat0r commented on #283
It fails with `401 Unauthorized`, which either means there's a defect in the httpx library, or a defect in the ipfshttpclient wrapper over it.

[2021-06-07 12:50] 99Kies opened #284 "PyPI is not the latest version"
PyPI is not the latest version, please update it soon
![image](https://user-images.githubusercontent.com/45918704/121019396-f8ba8e00-c7d1-11eb-8508-a8c774edf759.png)

[2021-06-08 20:12] SupraSummus commented on #284
0.7.0 is the latest stable version. Prerelease versions 0.8.0a1 and 0.8.0a2 are published to pypi as well - you can see them in [release history](https://pypi.org/project/ipfshttpclient/#history). You can install them with `pip install --pre ipfshttpclient`.

[2021-06-16 01:08] c0llab0rat0r commented on #283
I did some more testing. It's not related to SSL.

If the local client connects to a remote Nginx reverse proxy to connect to an IPFS on the same machine as Nginx, the upload hangs. It can be over HTTP or over HTTPS; behavior is the same.

If Nginx is removed from the picture, the upload succeeds each time. I tried setting `proxy_buffering off;` in Nginx and that did not help.

I traced the local

[2021-06-16 20:46] ntninja commented on #283
Thank you for the detailed analysis!

I do sincerely hope that your conclusion isn't correct however: Implementing piecemeal uploading (using client-side IPLD with pipelined `.block.put` or the `.object.patch.*` APIs) is a very big project however and I'm not sure if it is in scope for this project at all – the reason we have `.add` after all is so that client's don't need to know all these detail

[2021-06-22 04:36] cardoso-neto commented on #284
Thanks. I'm using 0.8.0a2 and it's working like a charm.

[2021-06-24 00:21] Luflosi commented on #252
Can you please also tag the releases for GitHub?

[2021-06-28 15:50] ftyers opened #288 "add_str() and add() do not take the same optional parameters"
e.g.

[code]

See #287

[2021-06-29 04:44] c0llab0rat0r commented on #284
We will likely release 0.8.0 (non-alpha) once #285 is merged.

[2021-06-29 23:56] c0llab0rat0r commented on #288
I've pulled @ftyers's changes from #287 into a branch of my fork. Thanks for the submission and we'll continue its work.

[2021-07-13 13:14] sigma67 commented on #273
Small bump. Or is this planned for 0.8?

[2021-07-16 17:49] namasikanam opened #291 "IPFS v0.9.0 support?"
It seems that v0.8.0a2 of this library cannot support IPFS v0.9.0, which is released 24 days ago.

How's the v0.9.0 of this library developing? Is there anything I can help?

[2021-07-17 12:34] avatar-lavventura commented on #291
Still `v0.8.0a2`gives: `~/venv/lib/python3.8/site-packages/ipfshttpclient/client/__init__.py:75: VersionMismatch: Unsupported daemon version '0.9.0' (not in range: 0.5.0 ≤ … < 0.9.0)
  warnings.warn(exceptions.VersionMismatch(version, minimum, maximum))` warning message.

But does `v0.8.0a1` supports it https://github.com/ipfs-shipyard/py-ipfs-http-client/issues/282#issuecomment-849908946 ?

[2021-07-17 12:38] avatar-lavventura commented on #282
This issue is open since May. It will be helpful with a simple guidence.

Still `master-repo`, `v0.8.0a1`, `v0.8.0a2`gives: `~/venv/lib/python3.8/site-packages/ipfshttpclient/client/__init__.py:75: VersionMismatch: Unsupported daemon version '0.9.0' (not in range: 0.5.0 ≤ … < 0.9.0)
  warnings.warn(exceptions.VersionMismatch(version, minimum, maximum))` warning message.

Will we able to use `py-ip

[2021-07-29 11:05] avatar-lavventura opened #292 "swarm.connect() ipfshttpclient.exceptions.ErrorResponse: failed to parse multiaddr "": empty multiaddr"
```version: ipfshttpclient==0.8.0a2```

When I try to connect into a ipfs node I keep having following error: ```*** ipfshttpclient.exceptions.ErrorResponse: failed to parse multiaddr "": empty multiaddr```

[code]

What may be the main cause of this error? How can I resolve it?

[2021-08-19 10:19] shc261392 opened #293 "CID v1 retrieved from client.add is different with the CID retrieved from IPFS API or CLI"
## Problem

The CID v1 retrieved using the ipfshttpclient is different with the CID retrieved using IPFS HTTP API or CLI directly.

## Environment

Python version: `3.9.6`
Package version: `ipfshttpclient==0.8.0a2`
ipfs version: `0.8.0`

## Minimal code to reproduce the problem

Using an empty file to reproduce the problem. The problem is also reproducible using any file.

[code]

[code]

[code]

[2021-08-24 13:12] fahadh4ilyas opened #295 "Add bytesjson with filename"
Is there any way to add bytes or JSON data without saving it to a temporary file before adding it to IPFS? I wanna do something like

[code]

Instead, I have to do this

[code]

[2021-08-25 10:54] avatar-lavventura opened #296 "IPFS Unsupported daemon version '0.9.0'"
Is this project abandoned? I was looking an answer for Unsupported daemon version '0.9.0' .

[code]

This issue is open since May. It will be helpful with a simple guidence.

Still [`master-repo`, `v0.8.0a1`, `v0.8.0a2`] gives following warning message:

`
~/venv/lib/python3.8/site-packages/ipfshttpclient/client/__init__.py:75: VersionMismatch: Unsupported daemon version '0.9.0' (not in range: 0.5

[2021-08-25 13:05] ejmason101 commented on #296
There is a current open pull request #294 that would bump the version ranges. I spent some time looking at the failed travis build and the `3.6.8-macosx10.9` and `3.9.0-macosx10.9` are the two tests that are failing -- but I am lost as to how to fix the failed tests.

[2021-08-25 15:12] avatar-lavventura commented on #296
@ejmason101 Seems like it passed the tests on `Linux` so I can use it without a problem on linux side right?

[2021-08-28 17:03] aturX commented on #295
@fahadh4ilyas    I can do it by use a `File` object, when I use javascript.    So  I think python can use the same way.

[code]

[2021-09-01 01:41] sabotagebeats commented on #296
I'm having this issue also

[2021-09-01 02:50] v-stickykeys commented on #292
You don't want swarm connect here. Your client should be connecting via http. Swarm is for peers.

Something like `/ip4/127.0.0.1/tcp/5001/http`

[2021-09-01 10:03] avatar-lavventura commented on #292
I want to connect into peers though. Shouldn't be correct way to do it?

from ipfs's README:

[code]

[2021-09-01 13:04] jacekv commented on #296
I had a look into this issue and I bumped the maximum version number. All test pass as before. The problem is, that I am currently not able to push, because I don't have the permissions to do so. Someone who can grant me permissions, that I can push a branch with the fix?

[2021-09-02 09:14] avatar-lavventura commented on #296
@jacekv You commit is on your forked version. Will you be able to commit into `ipfs-shipyard/py-ipfs-http-client` ?

[2021-09-02 09:20] jacekv commented on #296
@avatar-lavventura I tried but I am running into the same issues as #294
I closed my pull request, since we face the same problem - Python error in Mac OS Darwin

[2021-09-17 05:32] ManojTaleka opened #298 "Python IPFS HTTP Client throwing an exception : Unsupported daemon version '0.8.0' (not in range: 0.4.23 ≤ … < 0.8.0)"
I have installed IPFS CLI version 0.8.0 and tried to connect using python ipfshttpclient. But unfortunately it is throwing an exception "Unsupported daemon version '0.8.0' (not in range: 0.4.23 ≤ … < 0.8.0)". Anyone has an idea how we can fix this issue?

[2021-09-18 11:12] unbeatable-101 commented on #298
Try changing `VERSION_MAXIMUM   = "0.9.0" ` to 0.10.0

[2021-09-19 06:59] Yuki23329626 commented on #218
I think the key to this  issue is the compatibility of go-ipfs and IPFShttpclient.
Actually I change the version of go-ipfs and IPFShttpclient both to v0.6.0 and it works.
Also works if both version is v0.8.0.

Set the python package of IPFShttpclient with its version:
`pip install ipfshttpclient==0.8.0`

Download and install the compatible verision of go-ipfs on your machine:
[download go-ipfs-zi

[2021-09-19 08:54] avatar-lavventura commented on #218
@Yuki23329626 Currently latest ipfs version is `0.9.0`: https://github.com/ipfs-shipyard/py-ipfs-http-client/issues/296#issue-979001822

[2021-09-22 07:53] jacekv commented on #298
Which version of ipfshttpclient are you using? The newest version 0.7.0 supports IPFS clients up to version 0.9.0.
I think you have to update your ipfshttpclient version.

[2021-10-01 21:05] herekittycomekitty opened #300 "Calculate multihash without connection"
Is there any chance to use [add](https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/f04ff601556f8429837eb7d4851fe02913f72f63/ipfshttpclient/client/files.py#L239) in a way to calculate the hash of a file without ever having to connect to an IPFS daemon?

I set the [offline](https://github.com/ipfs-shipyard/py-ipfs-http-client/blob/f04ff601556f8429837eb7d4851fe02913f72f63/ipfshttpclient/clien

[2021-10-04 07:04] gibcheesepuffs commented on #298
Getting same error, I am using 0.7.0.

[2021-10-07 07:04] zinootje commented on #245
Sorry for the late reply, do you still need it ? If so i can try to dig it up.

[2021-10-08 19:00] justinpezzack opened #301 "Infura IPFS Version 0.9.1"
Ran into this warning last night on ifps.infura.io:5001.

/Library/Python/3.8/lib/python/site-packages/ipfshttpclient/client/__init__.py:75: VersionMismatch: Unsupported daemon version '0.9.1' (not in range: 0.5.0 ≤ … < 0.9.0)
  warnings.warn(exceptions.VersionMismatch(version, minimum, maximum))

Seems to have no issues though, 0.9.1 should be okay?

[2021-10-10 07:26] psycoder17 opened #302 "httpx.StreamClosed: Attempted to read or stream content, but the stream has been closed."
I'm getting the below error when simply trying to run `ipfshttpclient.connect()` in my script. I'm using version 0.8.0 of go-ipfs.

Error:
`Traceback (most recent call last):
  File "/Users/alanraff/Projects/NFT/resources/scripts/test.py", line 3, in <module>
    ipfs_client = ipfshttpclient.connect()
  File "/usr/local/lib/python3.9/site-packages/ipfshttpclient/client/__init__.py", line 124, in c

[2021-10-12 01:59] justinpezzack commented on #301
Yeah looks like they are pushing their nft-storage api

[2021-10-12 02:05] DistantStatic commented on #301
Just saw that and it has me reeling. "5gb of free storage". Well... might as well pay for s3 if we're centralizing and paying for data storage smh.

[2021-10-12 03:59] DistantStatic commented on #301
Ok I misunderstood their advertisement then. By nature of IPFS though, as long as people are accessing the data it should persist on the node/client that is accessing as well as the serving node. If pinning has become the only way for data to be accessible then the concept of IPFS is sort of moot to me tbh. I've actually seen many NFT projects just host their images on their own servers. Just one

[2021-10-12 04:08] justinpezzack commented on #301
Arweave and filecoin effectively solve IPFS' persistence issue.

[2021-10-12 04:12] justinpezzack commented on #301
Re: Infura, 0.08 cents/GB => 1TB of data per month is 80 bucks. Really not a big deal.... Technically a point of failure as only "one node" is pinning the data, however I'm sure its more like 1000's of nodes pinning it at the scale Infura operates at.

[2021-10-13 18:38] SCBuergel commented on #301
I'm getting the same when trying to access IPFS via Infura. Quite the show stopper :-/

[2021-10-21 03:24] Nikolaj4o opened #303 "HTTPError: 405 Client Error: Method Not Allowed"
connect method throws an exception :

ipfshttpclient.exceptions.StatusError: HTTPError: 405 Client Error: Method Not Allowed for url: http://localhost:5001/api/v0/version?stream-channels=true

Does anyone have any idea what might be causing this?

[2021-11-08 17:30] ranfdev opened #306 "Version bypass"
When an ipfs version changes, some things don't change.
For example, the `ipfs add` command may not change at all. So it doesn't make sense to brake *that* functionality.

I understand tracking the compatible version of each command may be too much, but I think it makes sense to let people bypass the version checks.

There should be a flag like `unsafe_bypass_version_check` on the connect function

[2021-11-17 17:45] xznhj8129 commented on #296
0.9.1, still broken

[2021-12-14 00:16] igorbrigadir commented on #293
This one stumped me too!

I think the difference is `raw-leaves` https://docs.ipfs.io/reference/http/api/#api-v0-add if you set `{'cid-version': 1}`

If set explicitly, these produce the same CID:

[code]

[code]

and same in requests raw http call:

[code]

[code]

And if you set raw leaves = False in both, you'll get the `size:6` one.

[2021-12-16 00:10] Luflosi opened #308 "Compatibility with IPFS v0.11.0"
IPFS 0.11.0 has an API incompatibility that needs to be addressed.
According to the release notes at https://github.com/ipfs/go-ipfs/releases/tag/v0.11.0:

Because of this, the `test_publish_subscribe` and `test_ls` tests fail.
The release notes contain detailed information on what changed exactly. This should make it much easier to create a fix.

[2021-12-16 00:59] carsonfarmer commented on #303
I'm seeing the same with latest pip release. Any ideas on the fix here?

[2021-12-25 03:37] Footsiefat commented on #303
Same issue here..

[2022-01-06 04:33] wongasley opened #309 "Can someone help me?"
Traceback (most recent call last):
File "/home/wongasley/.local/lib/python3.8/site-packages/ipfshttpclient/http_httpx.py", line 173, in _request
closables, session = self._access_session()
File "/home/wongasley/.local/lib/python3.8/site-packages/ipfshttpclient/http_common.py", line 417, in _access_session
session = self._make_session()
File "/home/wongasley/.local/lib/python3.8/site-packages/ipfsh

[2022-01-06 04:37] wongasley commented on #309
It was working fine and then suddenly this error shows up

[2022-01-06 06:20] jsun28 commented on #303
same issue

[2022-01-06 09:23] #309 closed

[2022-01-17 18:31] xapillox commented on #218
go-ipfs daemon version and ipfshttpclient version should be same e.g v0.8.0 or v0.6.0.

[2022-01-28 14:10] asafd11 opened #310 "ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.11.0' (not in range: 0.4.23 ≤ … < 0.8.0)"
any idea how to fix this?

[2022-02-02 15:13] pintman commented on #310
same here

[2022-02-08 16:35] ThomasFreedman commented on #306
I have been using popen calls to ipfs command line for well over a year waiting for this to resolve. Although the readme on this api claims it's tested against v0.8.0 it does not work from a pip3 install:
[code]

Notice the last message indicates allowable version must be *less than* 0.8.0 !!!

[2022-02-13 16:33] SelcukOz05 commented on #303
I am facing this issue too.

[2022-02-14 16:03] SelcukOz05 commented on #303
https://github.com/ipfs-shipyard/py-ipfs-http-client/issues/218#issuecomment-1014803298
This did it for me.

[2022-02-19 07:57] veqtor commented on #310
this project is abandoned more or less

[2022-02-22 16:09] zidagar opened #311 "error during install after flit_core update to 3.7.0"
[code]

[2022-03-02 01:13] nomadj commented on #296
Is there a fix for this issue yet?

[2022-04-06 03:06] marcellodesales commented on #303
# 🔢 Versions

* ⛓️ IPFS: `go-ifps@0.12.1`
* 🐍 Python `3.9`

# 🐞 Bug

* The server can't request as per the documentation

[code]

# 🎨 IPFS Server new...

* We can't upgrade anything else.
* Could this be a server-side setting? Since it's not allowing the HTTP request, but the browser itself opens all the settings properly

<img width="1036" alt="Screen Shot 2022-04-05 at 8 04 49 PM" src="https://u

[2022-04-20 13:20] jay0x5 opened #313 "ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it"
Hi i am new to IPFS and Python and while trying out to store data on ipfs i ran into some errors, please help me

here is my code:
[code]

[2022-05-12 19:57] BobBorges commented on #313
Same!

[2022-05-13 07:00] jay0x5 commented on #313
@BobBorges i solved this by writing my code in javascript and using Js IPFS lib
looks like python lib is abandoned

[2022-05-13 08:31] BobBorges commented on #313
@jay0x5 I've seen similar comments in other places too – problem is, I just hate javascript. I went into my package files and changed the VERSION_MAXIMUM variable to "0.13.0", line 19 in `client/__init__.py`. After that it allows me to connect and `add()`. I haven't fully explored the consequence of this hack (I'm still trying to wrap my head around IPFS in general) – but I suppose if it would be

[2022-05-13 13:04] jay0x5 commented on #313
@BobBorges Nice hack! i wish i knew it earlier :(
Please keep me updated here or you may contact me on email: contactjay0x5@gmail.com
would love to see how it goes!

[2022-05-16 15:22] willcharlton commented on #313
Same. Is this repo abandoned then?

[2022-05-18 12:10] jay0x5 commented on #313
@willcharlton yep! its abandoned :(

[2022-05-24 19:10] willcharlton commented on #313
@Bird-NZ - this looks promising: https://gitlab.com/cipres/aioipfs

[2022-06-22 11:00] Wizock opened #315 "ipfshttpclient.exceptions.VersionMismatch: Unsupported daemon version '0.13.0' (not in range: 0.4.23 ≤ … < 0.8.0)"
Id really like to work with this library but unfortunately, its close to impossible to downgrade go-ipfs. Could someone tell me how to downgrade go-ipfs to what ever version is supported from march 2021 or how I can rectify this situation because I think the API is very simplistic

[2022-06-23 05:40] vaishnavvp commented on #313
not working for me any other solution

[2022-06-23 09:59] Wizock commented on #313
For anyone wondering, this is abandoned, I have been told by a "higher up". Use subprocess and interact with the software through that, there's no excuse to use the older version just to make it work with python. However, it doesn't discredit the daemon.

[2022-07-22 21:59] AbhigyaWangoo commented on #275
How did you guys downgrade your ipfs version? I'm getting a version mismatch on version 0.13.1

[2022-08-03 12:57] veqtor commented on #313
It's absolutely absurd that ipfs doesn't have a working client in python

[2022-08-06 21:41] superswan commented on #313
This solution has worked for me. I was successfully able to connect, add a new file and access it from a public gateway. Thanks. Is this project no longer maintained?

[2022-08-07 22:09] willcharlton commented on #313
It appears that it is abandoned. Has anyone on this thread evaluated [https://gitlab.com/cipres/aioipfs](https://gitlab.com/cipres/aioipfs)?

[2022-08-07 22:10] willcharlton commented on #313
It appears that it is abandoned. Has anyone on this thread evaluated https://gitlab.com/cipres/aioipfs?

[2022-09-02 16:19] lidel opened #316 "Looking for a maintainer familiar with Python! 🙏"
This project needs a maintainer that will ensure this library works with Kubo RPC (https://docs.ipfs.tech/reference/kubo/rpc/)

Kubo team will be maintaining [GO](https://github.com/ipfs/kubo/issues/9124) and [JS](https://github.com/ipfs/kubo/issues/9125) libraries, but we need someone familiar with Python to step up and help with this one.

If you are interested, please comment below.

[2022-10-20 16:51] lablnet commented on #316
Interested

[2022-10-31 17:09] DobleV55 commented on #316
Hi, I would like to help!

[2022-11-01 13:47] willcharlton commented on #316
Interested

[2022-11-22 11:07] moraisandreua commented on #315
same problem for version 0.16. were you able to solve the issue?

[2022-11-30 21:05] Amosharid commented on #315
Hi both, Did any of you manage to use the library to interact with IPFS.
 I want to work with the library; however, I am stuck with the error that says unsupported daemon.
I am not able to downgrade the IPFS version.